<script>
  import Head from '$lib/components/Head.svelte';
  import CSLang from '$lib/components/CSLang.svelte';
  import { OrderedList, ListItem, UnorderedList, Link } from 'carbon-components-svelte';
  import { CodeSnippet } from 'carbon-components-svelte';
  import { locale } from 'svelte-i18n';
  import { getAllLanguageLinks } from '$lib/js/metalang.js';
  import { page } from '$app/stores';
  const pathname = $page.url.pathname;
let pageUrl = $page.url.href

  let title = 'Test page for carbon components';
  let author = 'Boyd Kelly';
  let description = 'Test page for carbon components';
  let keywords = 'carbon, components, test';
  let pageImage = 'wulufato.webp';
  let languageLinks = getAllLanguageLinks(pathname);
  let pageNoindex = false;
  //$: console.log('docs: ', currentLocale);
  $: pageLang = pathname.split('/')[1];
  let section = pathname.split('/')[2];
  $: locale.set(pageLang);
  const code = `#!/bin/bash
echo "Hello, world!"
ls -l
`;
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>
<CSLang {languageLinks} {pageLang} />

<OrderedList>
  <ListItem>Ordered list item</ListItem>
  <ListItem>Ordered list item</ListItem>
  <ListItem>Ordered list item</ListItem>
</OrderedList>

<OrderedList expressive>
  <ListItem><Link size="lg" href="#">Ordered list item</Link></ListItem>
  <ListItem>Ordered list item</ListItem>
  <ListItem>Ordered list item</ListItem>
</OrderedList>

<UnorderedList expressive>
  <ListItem>
    Unordered list level 1
    <UnorderedList nested>
      <ListItem>Unordered list level 2</ListItem>
      <ListItem>
        Unordered list level 3
        <UnorderedList nested>
          <ListItem>Unordered list level 3</ListItem>
          <ListItem>Unordered list level 3</ListItem>
        </UnorderedList>
      </ListItem>
    </UnorderedList>
  </ListItem>
  <ListItem>Unordered list level 1</ListItem>
  <ListItem>Unordered list level 1</ListItem>
</UnorderedList>

<h1>Heading1</h1>
<h2>Heading2</h2>
<h3>Heading3</h3>
<h4>Heading4</h4>
<h5>Heading5</h5>
<h6>Heading6</h6>

<CodeSnippet type="multi" {code} codeLanguage="bash" />

<CodeSnippet type="multi" {code} expanded />
