<script>
  import Head from '$lib/components/Head.svelte';
  import { DataTable } from 'carbon-components-svelte';
  import { WordCloudChart } from '@carbon/charts-svelte';
  import '@carbon/charts-svelte/styles.css';
  import data from '/src/assets/metadata/wjl_w100';
  import { page } from '$app/stores';
  import { _, locale } from 'svelte-i18n';
  import CSLang from '$lib/components/CSLang.svelte';
  import { getAllLanguageLinks } from '$lib/js/metalang.js';
  const pathname = $page.url.pathname;
  const section = pathname.split('/')[2];
  const pageLang = pathname.split('/')[1];
let pageUrl = $page.url.href
  const rows = data;
  let title = $_('wjl_w100.title');
  let author = $_('wjl_w100.author');
  let description = $_('wjl_w100.description');
  let keywords = $_('wjl_w100.keywords');
  let pageImage;
  //const fontSizeRange = (chartSize, data) => {
  //  const maxWordFrequency = Math.max(...data.map(d => d.value));
  //  const minFontSize = 10;
  //  const maxFontSize = Math.min(40, chartSize.width / 12);
  //  console.log(maxWordFrequency)
  //  return { min: minFontSize, max: maxFontSize * maxWordFrequency / 100 };
  //};
  //  xperiment with Simplified Functions: Try using a fixed font size range (e.g., fontSizeRange: () => ({ min: 10, max: 40 })) to see if the chart renders correctly.
  let pageNoindex = false;
  let languageLinks = getAllLanguageLinks(pathname);
  locale.set(pageLang);
  const options = {
    //toolbar: {
    //  enabled: false
    //},
    legend: {
      enabled: false
    },
    data: {
      groupMapsTo: 'word'
    },
    //experimental: false,
    animations: true,
    color: {
      pairing: {
        numberOfVariants: 4,
        option: 4
      }
    },
    wordCloud: {
      wordMapsTo: 'word',
      fontSizeMapsTo: 'value'
      // fontSizeRange: fontSizeRange,
    },
    resizable: true,
    height: '400px'
  };
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>
<CSLang {languageLinks} {pageLang} />

<h2>
  {title}
</h2>

<WordCloudChart {data} {options} />

<DataTable
  zebra
  sortable
  headers={[
    { key: 'value', value: $_('Frequency') },
    { key: 'word', value: $_('Word') }
  ]}
  {rows}
>
  <span slot="description" style="font-size: 1rem">
    {description}
  </span>
</DataTable>
