/* I think this is for the jula dico 1993 version with tables; mobile display */

/* @media only screen and (max-width: 768px) { */
/*   table, */
/*   thead, */
/*   tbody, */
/*   th, */
/*   td { */
/*     display: block; */
/*   } */
/**/
/*   tr { */
/*     display: flex; */
/*     flex-flow: row wrap; */
/*   } */
/**/
/*   /* Hide table headers (but not display: none;, for accessibility) */
/*   thead tr { */
/*     position: absolute; */
/*     top: -9999px; */
/*     left: -9999px; */
/*   } */
/**/
/*   td { */
/*     /* Behave  like a "row" */
/*     border: none; */
/*     border-bottom: 1px solid #eee; */
/*     padding-left: 50%; */
/*     flex-basis: 1 1 0; */
/*   } */
/**/
/*   td::before { */
/*     /* Now like a table header */
/*     position: absolute; */
/*     /* Top/left values mimic padding */
/*     top: 6px; */
/*     left: 6px; */
/*     width: 45%; */
/*     padding-right: 10px; */
/*     white-space: nowrap; */
/*   } */
/**/
/*   td:nth-of-type(1) { */
/*     flex-basis: max-content; */
/*   } */

/*
Label the data
.doc td:nth-of-type(1):before { content: ""; }
.doc td:nth-of-type(2):before { content: ""; }
.doc td:nth-of-type(3):before { content: ""; }
.doc td:nth-of-type(4):before { content: ""; }
.doc td:nth-of-type(5):before { content: ""; }
.doc td:nth-of-type(6):before { content: ""; }
.doc td:nth-of-type(7):before { content: ""; }
.doc td:nth-of-type(8):before { content: ""; }
.doc td:nth-of-type(9):before { content: ""; }
.doc td:nth-of-type(10):before { content: ""; }
*/
/* } */

/* was this for old site with tabs on docs?
*
.doc {
margin-top: 0;
}
* */
/*  lisk */

/* .doc .sidebarblock > .content > .title { */
/*   text-align: inherit; */
/*   font-size: 1.15em; */
/* } */

/* remplace h1 space with padding; grid */
/* .doc > h1.page:first-child { */
/*   padding-top: 1.5rem; */
/*   margin: 0; */
/* } */

/*
.doc h2 {
font-size: 1.45em;
}

.doc h3 {
font-size: 1.4em;
}

.doc h4 {
font-size: 1.35em;
}
*/

/* .doc h1, */
/* .doc h2 { */
/*   color: var(--heading-font-color); */
/*   font-family: var(--nav-font-family); */
/*   line-height: 120%; */
/* } */
/**/
/* .doc h3:not(.discrete), */
/* .doc h4:not(.discrete) { */
/*   color: var(--heading-font-color); */
/*   font-family: var(--nav-font-family); */
/*   line-height: 150%; */
/*   font-weight: normal; */
/* } */

/* let carbon design this; too much space */
/* .doc p { */
/*   margin: 0 0 0 0; */
/* } */

/* in ortho de BF noticed that lists followd by p have no space */
/* .doc dl { */
/*   margin: 0.5rem 0 0; */
/* } */

/* for lexique */
/* .article.lexique .sect3 dt.hdlist1, */
/* .article.lexique .sect3 .paragraph { */
/*   margin-top: 0; */
/* } */
/**/
/* .article.lexique h4 { */
/*   color: var(--teal-600); */
/* } */
/**/
/* .article.lexique .ulist.def > ul > li > p { */
/*   color: var(--cyan); */
/* } */

/* for udhr table */
/* .doc .tableblock.udhr :is ol, */
/* dl, */
/* h6, */
/* p { */
/*   font-size: var(--font-size-0); */
/* } */
/**/
/* .udhr .ulist.ul { */
/*   padding: 0 0 0 0.2rem; */
/* } */
