<script>
  import Head from '$lib/components/Head.svelte';
  import CSLang from '$lib/components/CSLang.svelte';
  import { locale } from 'svelte-i18n';
  import { page } from '$app/stores';
  import { getAllLanguageLinks } from '$lib/js/metalang.js';
  export let data;

  $: ({ content, metadata } = data);
  $: pathname = $page?.url?.pathname || '';
  $: pageUrl = $page?.url?.href || '';
  // Extract metadata fields with defaults
  $: ({
    doctitle: title = '',
    author = '',
    description = '',
    keywords = '',
    pageImage = 'site.svg',
    pageNoindex = 'false'
  } = metadata || {});

  // Reactive page language
  $: pageLang = pathname.split('/')[1];
  $: section = pathname.split('/')[2];
  $: subsection = pathname.split('/')[4];
  $: languageLinks = getAllLanguageLinks(pathname);
  $: locale.set(pageLang);
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
  {subsection}
/>
<CSLang {languageLinks} {pageLang} />

<slot />

<div class="docs">
  {@html content}
</div>

<style lang="postcss">
  @import '/src/assets/css/vars.css';
  @import '/src/assets/css/doc.css';
</style>
