<script>
  import Head from '$lib/components/Head.svelte';
  import { page } from '$app/stores';
  import { locale } from 'svelte-i18n';
  export let data;
  $: ({ metadata } = data);

  // Reactive page URL
  $: pathname = $page.url.pathname;
  $: pageUrl = $page.url.href;
  // Extract metadata fields with defaults
  $: ({
    doctitle: title = '',
    author = '',
    description = '',
    keywords = '',
    pageImage = 'site.svg',
    pageNoindex = 'false'
  } = metadata || {});

  // console.log('pathname:', pathname);
  $: pageLang = pathname.split('/')[1];
  $: section = pathname.split('/')[2];
  $: locale.set(pageLang);
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>

<slot />

<!-- <svelte:element this={data.html} /> -->
<svelte:head>
  <link rel="stylesheet" href="/src/assets/css/font-awesome.min.css" />
</svelte:head>

<style lang="postcss">
</style>
