<script>
  import Ui from '$lib/components/Ui.svelte';
  import Footer from '$lib/components/Footer.svelte';
  import { Content, Grid, Row, Column } from 'carbon-components-svelte';
  import { PUBLIC_ENV } from '$env/static/public';
  import { VERSION } from '@sveltejs/kit';
</script>

<svelte:head>
  <meta name="generator" content={`SvelteKit ${VERSION}`} />
  {#if PUBLIC_ENV === 'PROD'}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ELBQP8ENGX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-ELBQP8ENGX');
    </script>
  {/if}
</svelte:head>

<Ui />

<Content>
  <Grid fullWidth noGutter>
    <Row id="main">
      <Column lg={{ span: 10, offset: 4 }} md={{ span: 6, offset: 1 }}>
        <slot />
      </Column>
    </Row>
    <Row id="footer" style="margin-top: var(--cds-spacing-05)">
      <Footer />
    </Row>
  </Grid>
</Content>

<style lang="postcss">
  @import '@fontsource/radio-canada/latin-400';
  @import '@fontsource/radio-canada/latin-ext-400';
  @import '@fontsource/radio-canada/latin-600';
  @import '@fontsource/radio-canada/latin-ext-600';
  @import '/src/assets/css/fonts.css';
  @import '/src/assets/css/global.css';
</style>
