<script>
	import { createEventDispatcher } from 'svelte';

	export let value;

	const dispatch = createEventDispatcher();

	function handleLocaleChange(event) {
		event.preventDefault();

		dispatch('locale-changed', event.target.value);
	}
</script>

<div class="locale-selector">
	<div class="select">
		<select {value} on:change={handleLocaleChange}>
			<option value="en">English</option>

			<option value="fr">French</option>
		</select>
	</div>
</div>

<style>
	/* ... */
</style>
