<script>
  import { browser } from '$app/environment';
  import { HeaderGlobalAction, LocalStorage } from 'carbon-components-svelte';
  import Light from 'carbon-icons-svelte/lib/Light.svelte';
  import Moon from 'carbon-icons-svelte/lib/Moon.svelte';
  import Cloud from 'carbon-icons-svelte/lib/Cloud.svelte'; // Add the Cloud icon

  // Define an array of themes
  const themes = ['g10', 'g100', 'g80'];

  // Initialize the theme index
  let themeIndex = 0;

  // Function to update the theme
  function updateTheme() {
    if (browser) {
      document.documentElement.setAttribute('theme', themes[themeIndex]);
    }
  }

  // Initial theme update
  if (typeof $themeIndex !== 'undefined') {
    // Check if $themeIndex is defined (LocalStorage value)
    themeIndex = $themeIndex;
  }
  updateTheme();

  // Toggle theme function
  function toggleTheme() {
    console.log('themeIndex1: ', themeIndex);
    themeIndex = (themeIndex + 1) % themes.length;
    console.log('themeIndex2: ', themeIndex);
    updateTheme();
  }
</script>

<LocalStorage key="theme" bind:value={themeIndex} />

<HeaderGlobalAction
  icon={themeIndex === 1 ? Moon : themeIndex === 2 ? Cloud : Light}
  on:click={toggleTheme}
/>
