<script>
  import SideNavDocs from '$lib/components/en/SideNavDocs.svelte';
</script>

<SideNavDocs />
<div class="doc">
  <slot />
</div>

<svelte:head>
  <!-- <link -->
  <!--   rel="stylesheet" -->
  <!--   href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" -->
  <!-- /> -->
</svelte:head>

<style lang="postcss">
  @import '/src/assets/css/vars.css';
  @import '/src/assets/css/doc.css';
</style>
