<script>
  import Head from '$lib/components/Head.svelte';
  import { locale } from 'svelte-i18n';
  import { page } from '$app/stores';
  let pathname = $page.url.pathname;
  let pageUrl = $page.url.href;
  export let data;
  let title = data.attributes?.doctitle;
  let author = data.attributes?.author;
  let description = data.attributes?.description;
  let keywords = data.attributes?.keywords;
  let pageImage = data.attributes?.[['page-image']];
  pageImage = !pageImage ? 'wulufato.webp' : pageImage;
  let pageNoindex = data.attributes?.[['page-noindex']];
  pageNoindex = pageNoindex === 'true' ? true : 'false';
  $: pageLang = pathname.split('/')[1];
  let section = pathname.split('/')[1];
  $: locale.set(pageLang);
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>

<slot />

<style lang="postcss">
  @import '/src/assets/css/vars.css';
  @import '/src/assets/css/doc.css';
  @import '/src/assets/css/toc-custom.css';
</style>
