<script>
  import { SideNav, SideNavItems, SideNavMenu, SideNavMenuItem, SideNavDivider } from "carbon-components-svelte";
  import { isSideNavOpen } from "$lib/js/sidenav.store.js";
  import DropdownLang from "$lib/components/DropdownLang.svelte";
  const breakpoint = 1056;
  function SideNavLinkClick() {
    if (window.innerWidth <= breakpoint) {
      console.log("sidenav1", $isSideNavOpen);
      $isSideNavOpen = false;
    }
    event.preventDefault(); // Prevent default link behavior
    const href = event.currentTarget.href; // Get the clicked link's href
    window.location.href = href; // Force full page reload with the new URL
  }
  // console.log("sidenav2 blog", $isSideNavOpen);
</script>

<SideNav fixed bind:isOpen={$isSideNavOpen}>
  <SideNavItems>
    <SideNavMenu text="Posts...">
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/2022-11-15-neo-pod/" text="Neo4j and Neodash in a Fedora pod on gcloud" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/2022-07-18-hunspell-la/" text="Better hunspell-la" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/2022-07-15-hunspell-fr/" text="Better hunspell-fr" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/2022-01-04-antora/" text="Multilingual Antora" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/2021-12-28-protein/" text="Protein for Ivorian athletes" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/proverb/" text="If the Shoe Fits..." />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2021-07-14-anki/" text="Les écueils d'Anki pour apprendre une langue?" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/2021-01-02-adoc-vim/" text="Tips to edit asciidoc in neovim or Vim like a boss !" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/2020-11-09-sb-bashrc/" text="Silverblue Tip - Run commands anywhere" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/2020-11-06-clavier-ivoirien/" text="Ivory Coast Keyboard no gymnastics" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/2020-05-14-vimplug/" text="Simplified Vim plugin management (ditch the manager!) " />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/nvim-plugins/" text="Nvim plugins " />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/plugins2/" text="Nvim plugins 2" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/2020-04-23-clavier-android/" text="Type like a boss in Jula or Baoulé in Android!" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/2020-04-23-website/" text="Website update!" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/2020-04-13-ponctuation/" text="Easy French Punctuation on Linux with Nvim/Vim" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/a-sen-b-a-la/" text="a sen b'a la" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2018-05-18-anki/" text="Jula vocabulary for Anki Flash Cards" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/2018-05-22-datally/" text="Datally" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/2018-05-21-ysa/" text="Yet Still Again ?" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2016-04-21-justdoit/" text="Just do it !" />
    </SideNavMenu>

    <SideNavDivider></SideNavDivider>
    <SideNavMenu text="Asciidoc(tor) & Antora">
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/2022-10-20-antora-po4a/" text="Antora collector with po4a" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/asciidoc-syntax-quick-reference/" text="AsciiDoc Syntax Quick Reference" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/asciidoc-quick-reference/" text="AsciiDoc Quick Reference" />

      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/demo/" text="Asciidoctor Demo" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/2022-01-04-antora/" text="Multilingual Antora" />
    </SideNavMenu>
  </SideNavItems>
  <DropdownLang />
</SideNav>
