<script>
  import Head from '$lib/components/Head.svelte';
  import { DataTable } from 'carbon-components-svelte';
  import { page } from '$app/stores';
  import { _ } from 'svelte-i18n';
  import Search from '$lib/components/Search.svelte';
  import CSLang from '$lib/components/CSLang.svelte';
  import { getOtherLanguageLinks } from '$lib/js/metalang.js';
  const pathname = $page.url.pathname;
  const pageUrl = $page.url.href;
  import data from './francais.json';
  import Meta_info from './Meta_info.svelte';
  const rows = data;
  import metadata from './meta.json';
  let title = metadata.title;
  let author = metadata.author;
  let description = metadata.description;
  let keywords = metadata.keywords;
  let pageImage = metadata.pageImage;
  let languageLinks = getOtherLanguageLinks(pathname);
  let pageNoindex = false;
  const section = pathname.split('/')[2];
  const pageLang = pathname.split('/')[1];
  import Dioula from './Dioula.svelte';
  import Preface from './Preface.svelte';
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>
<CSLang {languageLinks} {pageLang} />
<Search />

<Preface />
<Meta_info />
<Dioula />
<div id="_french"></div>
<DataTable
  showheader={false}
  zebra
  sortable
  headers={[
    { key: 'Français', value: $_('French') },
    { key: 'Dioula', value: $_('Dyula') }
  ]}
  {rows}
>
  <h2 slot="title">Français - Dioula</h2>
</DataTable>
