<script>
  import { SideNav, SideNavItems, SideNavMenu, SideNavMenuItem, SideNavDivider } from "carbon-components-svelte";
  import { isSideNavOpen } from "$lib/js/sidenav.store.js";
  import DropdownLang from "$lib/components/DropdownLang.svelte";
  const breakpoint = 1056;
  function SideNavLinkClick() {
    if (window.innerWidth <= breakpoint) {
      $isSideNavOpen = false;
    }
    event.preventDefault(); // Prevent default link behavior
    const href = event.currentTarget.href; // Get the clicked link's href
    window.location.href = href; // Force full page reload with the new URL
  }
  // console.log("sidenav fr blog", $isSideNavOpen);
  // $isSideNavOpen = true;
  // let isOpen = true;
</script>

<SideNav fixed expansionBreakpoint={breakpoint} bind:isOpen={$isSideNavOpen}>
  <SideNavItems>
    <SideNavMenu text="Tous les posts...">
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2022-11-15-neo-pod/" text="Neo4j et le Neodash dans un pod Fedora sur Gcloud" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2022-10-20-antora-po4a/" text="Collector Antora avec po4a" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2022-07-18-hunspell-la/" text="Meilleur hunspell-la" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2022-07-15-hunspell-fr/" text="Meilleur hunspell-fr" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2021-12-28-protein/" text="Protéines pour les athlètes ivoiriens" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/proverb/" text="Qui se sent morveux se mouche " />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2021-01-02-adoc-vim/" text="Astuces pour éditer asciidoc avec neovim/Vim (comme un boss!) " />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2020-11-09-sb-bashrc/" text="Silverblue Tip - lancez des commandes partout" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2020-11-06-clavier-ivoirien/" text="Ivory Coast Keyboard no gymnastics" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2020-10-21-fonts/" text="Polices d'écriture adaptées pour le bambara, le jula (et d'autres langues mandingues)" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2020-05-14-vimplug/" text="Gérer les modules vim sans soucis (abandonner le Gestionnaire!) " />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/nvim-plugins/" text="Nvim plugins" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/plugins2/" text="Nvim plugins 2" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2020-04-23-clavier-android/" text="Type like a boss in Jula or Baoulé in Android!" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2020-04-23-website/" text="Mise-à-jour du site web!" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2020-04-13-ponctuation/" text="Ponctuation française facile sous Linux avec nvim/vim" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/a-sen-b-a-la/" text="a sen b'a la" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2021-07-14-anki/" text="Les écueils d'Anki pour apprendre une langue?" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2018-05-18-anki/" text="Cartes Anki pour apprendre le Jula" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2018-05-22-datally/" text="Datally" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2018-05-21-ysa/" text="Yet Still Again ?" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2016-04-21-justdoit/" text="Just do it !" />
    </SideNavMenu>

    <SideNavDivider></SideNavDivider>
    <SideNavMenu text="Asciidoc(tor) & Antora">
      <SideNavMenuItem on:click={SideNavLinkClick} href="/en/blog/2022-01-04-antora/" text="Multilingual Antora" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/2022-10-20-antora-po4a/" text="Collector Antora avec po4a" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/asciidoc-syntax-quick-reference/" text="Syntax AsciiDoc référence du syntax rapide" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/asciidoc-quick-reference/" text="AsciiDoc référence rapide" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/blog/demo/" text="Asciidoctor Demo" />
    </SideNavMenu>
  </SideNavItems>
  <DropdownLang />
</SideNav>
