.doc {
  font-size: var(--font-size-2);

  /* scroll-padding-top: 5rem; */
}

.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
  color: var(--cds-text-01);
  hyphens: none;
  line-height: 1.3;
  margin: 1rem 0 0;
}

.doc h1 {
  font-weight: var(--cds-heading-06-font-weight);
}

.doc h2 {
  font-weight: var(--cds-heading-05-font-weight);
}

.doc h3 {
  font-weight: var(--cds-heading-04-font-weight);
}

.doc h4 {
  font-weight: var(--cds-heading-03-font-weight);
}

.doc h5 {
  font-weight: var(--cds-heading-02-font-weight);
}

.doc h6 {
  font-weight: var(--cds-heading-01-font-weight);
}

.doc .sect1 + .sect1,
.doc #preamble + .sect1 {
  margin-top: 2rem;
}

.doc h1.sect0 {
  margin: 1.5rem -1rem 0;
  padding: 0.5rem 1rem;
}

.doc h2:not(.discrete) {
  border-bottom: 1px solid var(--section-divider-color);
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 1.5rem;
  padding: 0.4rem 1rem 0.1rem;
}

.doc h3:not(.discrete),
.doc h4:not(.discrete) {
  font-weight: var(--alt-heading-font-weight);
}

.doc h1 .anchor,
.doc h2 .anchor,
.doc h3 .anchor,
.doc h4 .anchor,
.doc h5 .anchor,
.doc h6 .anchor {
  position: absolute;
  text-decoration: none;
  width: 1.75ex;
  margin-left: -1.5ex;
  visibility: hidden;
  font-size: 0.8em;
  font-weight: normal;
  padding-top: 0.05em;
}

.doc h1 .anchor::before,
.doc h2 .anchor::before,
.doc h3 .anchor::before,
.doc h4 .anchor::before,
.doc h5 .anchor::before,
.doc h6 .anchor::before {
  content: '\00a7';
}

.doc h1:hover .anchor,
.doc h2:hover .anchor,
.doc h3:hover .anchor,
.doc h4:hover .anchor,
.doc h5:hover .anchor,
.doc h6:hover .anchor {
  visibility: visible;
}

/* display links with no decoration and same colour as title */
h1.sect0 a,
.sect1 > h2 a,
.sect2 > h3 a,
.sect3 > h4 a,
.sect4 > h5 a,
.sect5 > h6 a {
  color: inherit;
  text-decoration: none;
}

.doc p,
.doc dl {
  margin: 0;
}

/* override carbons 16px > 18px */
.doc p {
  font-size: var(--font-size-2);
}

.doc tr:first-child > .hdlist1,
.doc tr:first-child > .hdlist2 {
  padding-top: 0;
}

.doc td.hdlist1,
.doc td.hdlist2 {
  padding: 0.5rem 0 0;
}

/* horizontal list needs italic for def */
.doc td.hdlist1 {
  font-style: italic;
  font-weight: var(--font-weight-700);
  padding-right: 0.25rem;
}

.doc td.hdlist2 {
  padding-left: 0.25rem;
}

.doc .colist {
  font-size: var(--font-size-1);
  margin: 0.25rem 0 -0.25rem;
}

.doc .colist > table > tr > :first-child,
.doc .colist > table > tbody > tr > :first-child {
  padding: 0.25em 0.5rem 0;
  vertical-align: top;
}

.doc .colist > table > tr > :last-child,
.doc .colist > table > tbody > tr > :last-child {
  padding: 0.25rem 0;
}

.doc .conum[data-value] {
  border: 1px solid currentcolor;
  border-radius: 100%;
  display: inline-block;
  font-family: var(--body-font-family);
  font-size: var(--font-size-05);
  font-style: normal;
  line-height: 1.2;
  text-align: center;
  width: 1.25em;
  height: 1.25em;
  letter-spacing: -0.25ex;
  text-indent: -0.25ex;
}

.doc .conum[data-value]::after {
  content: attr(data-value);
}

.doc .conum[data-value] + b {
  display: none;
}

.doc a.bare {
  hyphens: none;
}

.doc a.unresolved {
  color: var(--link-unresolved-font-color);
}

.doc pre,
.doc code {
  hyphens: none;
}

.doc pre {
  font-size: var(--font-size-1);
  line-height: 1.5;
  margin: 0;
}

.doc p code,
.doc thead code,
.doc .colist > table code {
  color: var(--code-font-color);
  background: var(--code-background);
  border-radius: 0.25em;
  font-size: var(--cds-code-font-size);
  padding: 0.125em 0.25em;
}

.doc blockquote {
  margin: 0;
}

.doc .right {
  float: right;
}

.doc .left {
  float: left;
}

.doc .stretch {
  width: 100%;
}

.doc .underline {
  text-decoration: underline;
}

.doc .line-through {
  text-decoration: line-through;
}

.doc .paragraph,
.doc .dlist,
.doc .hdlist,
.doc .olist,
.doc .ulist,
.doc .exampleblock,
.doc .imageblock,
.doc .listingblock,
.doc .literalblock,
.doc .sidebarblock,
.doc .verseblock,
.doc .quoteblock,
.doc .partintro,
.doc details,
.doc hr {
  margin: 1rem 0 0;
}

.doc .halign-left {
  text-align: left;
}

.doc .halign-right {
  text-align: right;
}

.doc .halign-center {
  text-align: center;
}

/* weird on tables in carbon */
.doc .valign-top {
  vertical-align: top; /* Default behavior */
}

.doc table .valign-top {
  vertical-align: middle; /* table behavior */
}

.doc .valign-bottom {
  vertical-align: bottom;
}

.doc .valign-middle {
  vertical-align: middle;
}

/* temporary work around */
.doc table {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

/* why this was not the default in antora is weird */
.doc .image.left,
.doc .imageblock.left {
  padding-right: 1em;
}

.doc .image.right,
.doc .imageblock.right {
  padding-left: 1em;
}

.doc .imageblock {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doc .imageblock img,
.doc .imageblock object,
.doc .imageblock svg,
.doc .image > img,
.doc .image > object,
.doc .image > svg {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.doc .image:not(.left, .right) > img {
  margin-top: -0.2em;
}

#preamble .abstract blockquote {
  background: var(--quote-background);
  border-left: 5px solid var(--abstract-border-color);
  border-left: none;
  color: var(--abstract-font-color);
  font-size: var(--font-size-1);
  padding: 0.75em 1em;
}

.doc .quoteblock,
.doc .verseblock {
  background: var(--quote-background);
  border-left: 5px solid var(--quote-border-color);
  color: var(--quote-font-color);
}

.doc .quoteblock {
  padding: 0.25rem 2rem 1.25rem;
}

.doc .quoteblock.abstract title {
  padding-top: 1rem;
}

.doc .quoteblock .attribution {
  color: var(--quote-attribution-font-color);
  font-size: var(--font-size-05); /* yes its 05 here */
  margin-top: 0.75rem;
}

.doc .quoteblock blockquote {
  margin-top: 1rem;
  border-style: none;
}

.doc .quoteblock .paragraph {
  font-style: italic;
}

.doc .quoteblock cite {
  padding-left: 1em;
}

.doc .verseblock {
  font-size: 1.15em;
  padding: 1rem 2rem;
}

.doc .verseblock pre {
  font-family: inherit;
  font-size: inherit;
}

.doc ol,
.doc ul {
  margin: 0;
  padding: 0 0 0 2rem;
}

.doc ul.checklist,
.doc ul.none,
.doc ol.none,
.doc ul.no-bullet,
.doc ol.unnumbered,
.doc ul.unstyled,
.doc ol.unstyled {
  list-style-type: none;
}

.doc ul.no-bullet,
.doc ol.unnumbered {
  padding-left: 1.25rem;
}

.doc ul.unstyled,
.doc ol.unstyled {
  padding-left: 0;
}

.doc ul.circle {
  list-style-type: square;
}

.doc ul.disc {
  list-style-type: square;
}

.doc ul.square {
  list-style-type: square;
}

.doc ol.arabic {
  list-style-type: decimal;
}

.doc ol.decimal {
  list-style-type: decimal-leading-zero;
}

.doc ol.loweralpha {
  list-style-type: lower-alpha;
}

.doc ol.upperalpha {
  list-style-type: upper-alpha;
}

.doc ol.lowerroman {
  list-style-type: lower-roman;
}

.doc ol.upperroman {
  list-style-type: upper-roman;
}

.doc ol.lowergreek {
  list-style-type: lower-greek;
}

.doc ul.checklist {
  padding-left: 0.5rem;
}

.doc ul.checklist p > i.fa-check-square-o:first-child,
.doc ul.checklist p > i.fa-square-o:first-child {
  display: inline-flex;
  justify-content: center;
  width: 1.25rem;
}

.doc ul.checklist i.fa-check-square-o::before {
  content: '\2713';
}

.doc ul.checklist i.fa-square-o::before {
  content: '\274f';
}

.doc .dlist .dlist,
.doc .dlist .olist,
.doc .dlist .ulist,
.doc .olist .dlist,
.doc .olist .olist,
.doc .olist .ulist,
.doc .ulist .dlist,
.doc .ulist .olist,
.doc .ulist .ulist {
  margin-top: 0.5rem;
}

.doc .olist li + li,
.doc .ulist li + li {
  margin-top: 0.5rem;
}

.doc .ulist .listingblock,
.doc .olist .listingblock,
.doc .admonitionblock .listingblock {
  padding: 0;
}

/* inteferes with carbon which uses ::before */
.doc li::marker {
  content: '';
  color: transparent;
}

.doc .admonitionblock .title,
.doc .exampleblock .title,
.doc .imageblock .title,
.doc .literalblock .title,
.doc .listingblock .title,
.doc .openblock .title,
.doc .tableblock caption {
  color: var(--caption-font-color);
  font-size: var(--font-size-1);
  font-weight: var(--cds-caption-02-font-weight);
  font-style: italic;
  hyphens: none;
  letter-spacing: 0.01em;
  padding-bottom: 0.075rem;
  text-align: left;
}

.doc .olist .title,
.doc .dlist .title,
.doc .ulist .title {
  font-size: var(--font-size-1);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.doc .imageblock .title {
  margin-top: 0.5rem;
  padding-bottom: 0;
}

/* admonitions */
.doc .admonitionblock {
  margin: 1.4rem 0 0;
  padding: 0;
}

.doc .admonitionblock p,
.doc .admonitionblock td.content {
  font-size: var(--font-size-1);
}

.doc .admonitionblock td.content > :not(.title):first-child,
.doc .admonitionblock td.content > .title + * {
  margin-top: 0;
}

.doc .admonitionblock pre {
  font-size: var(--font-size-07);
}

.doc .admonitionblock > table {
  table-layout: fixed;
  position: relative;
  width: 100%;
}

.doc .admonitionblock td.content {
  padding: 1rem 1rem 0.75rem;
  background: var(--cds-ui-01);
  box-shadow: var(--shadow-1);

  /*
  border: 1px solid var(--color-gray-900);
  */
  width: 100%;

  /* word-wrap: anywhere unkown value; */
}

.doc .admonitionblock td.icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-07);
  line-height: 1;
  transform: translate(-0.5rem, -50%);
  background: linear-gradient(to right, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 100%) no-repeat left
    center / 2.075em 100%;
  border-radius: 0.5em;
  padding: 0.25em 0.075em;
}

.doc .admonitionblock td.icon i {
  display: inline-flex;
  align-items: center;
  width: auto;
  background-position-x: 0.5em;
  filter: invert(100%);
  padding-left: 2em;
  vertical-align: initial;
}

.doc .admonitionblock td.icon i::after {
  content: attr(title);
  text-transform: uppercase;
  filter: invert(100%); /* NOTE reverse the filter on the icon */
  font-weight: var(--admonition-label-font-weight);
  font-style: normal;
  padding: 0 0.5em;
  margin: -0.05em; /* NOTE account for slight offset in font */
}

.doc .admonitionblock.caution td.icon {
  background-color: var(--caution-color);
  color: var(--caution-on-color);
}

.doc .admonitionblock.caution td.icon i {
  background-image: url('/images/octicons-16.svg#view-flame');
}

.doc .admonitionblock.important td.icon {
  background-color: var(--important-color);
  color: var(--important-on-color);
}

.doc .admonitionblock.important td.icon i {
  background-image: url('/images/octicons-16.svg#view-stop');
}

.doc .admonitionblock.note td.icon {
  background-color: var(--note-color);
  color: var(--note-on-color);
}

.doc .admonitionblock.note td.icon i {
  background-image: url('/images/octicons-16.svg#view-info');
}

.doc .admonitionblock.tip td.icon {
  background-color: var(--tip-color);
  color: var(--tip-on-color);
}

.doc .admonitionblock.tip td.icon i {
  background-image: url('/images/octicons-16.svg#view-light-bulb');
}

.doc .admonitionblock.warning td.icon {
  background-color: var(--warning-color);
  color: var(--warning-on-color);
}

.doc .admonitionblock.warning td.icon i {
  background-image: url('/images/octicons-16.svg#view-alert');
}

.doc .admonitionblock .title {
  color: var(--caption-font-color);
  font-size: var(--font-size-1);
  font-weight: var(--caption-02-font-weight);
  font-style: italic;
  hyphens: none;
  letter-spacing: 0.01em;
  padding-bottom: 0.075rem;
  text-align: left;
}

.doc .admonitionblock i.fa {
  display: inline-block;
  background: no-repeat center / 1em 1em;
  filter: var(--doc-icon-filter);
  hyphens: none;
  font-style: normal;
  height: 1em;
  width: 1em;
  vertical-align: -0.125em;

  /* font: inherit; */
}

.doc .paragraph.lead > p {
  font-size: var(--font-size-3); /* 20px */
}

/* removed details summary for openprops */

.doc .exampleblock > .content {
  background: var(--cds-ui-01);
  border: 0.05rem solid var(--cds-ui-04);
  border-radius: 0.5rem;
  padding: 0.75rem;
}

.doc .exampleblock > .content::after {
  content: '';
  display: table;
  clear: both;
}

.doc .exampleblock > .content > :first-child,
.doc details > .content > :first-child {
  margin-top: 0;
}

.doc .sidebarblock {
  background: var(--cdi-ui-04);
  border-radius: 0;
  padding: 0.75rem 1.5rem;
}

.doc .sidebarblock > .content > .title {
  font-size: var(--font-size-35);
  font-weight: var(--alt-heading-font-weight);
  line-height: 1.3;
  margin-bottom: -0.3em;
  text-align: center;
}

.doc .sidebarblock > .content > :not(.title):first-child {
  margin-top: 0;
}

/* NEEDS REVIEW prevent pre in table from causing article to exceed bounds */
.doc .tableblock pre,
.doc .listingblock.wrap pre {
  white-space: pre-wrap;
}

/* wierdness noticed in paragraphes inside tables  (carbon) */
.doc .tableblock .paragraph {
  margin: 0;
}

/* specify number table in julakankaran */

/* as noted in bambara manual tables with columns */

/* .doc td.tableblock { */

/*   padding: 2rem; */

/* } */

/* specify number table in julakankaran */
.doc p .tableblock .tiny {
  font-size: var(--font-size-00);
}

.doc pre.highlight code,
.doc .listingblock pre:not(.highlight),
.doc .literalblock pre {
  /* background: var(--pre-background); */
  box-shadow: inset 0 0 1.75px var(--cds-border-strong);
  display: block;
  overflow-x: auto;
  padding: 0.75rem;
}

.doc pre.highlight {
  position: relative;
}

.doc .listingblock:hover .source-toolbox {
  visibility: visible;
}

.doc .language-console .hljs-meta {
  user-select: none;
}

.doc .dlist dd + dt,
.doc .dlist dd > p:first-child {
  margin-top: 0.5rem;
}

.doc .dlist {
  font-size: var(--cds-body-02-font-size);
}

.doc .dlist dt {
  font-style: italic;

  /* added bold and margin for carbon */

  /* or fix for something else inadverantly removed */
  font-weight: bold;
  margin-bottom: 0.1rem;
  margin-top: 0.5rem;
}

.doc .dlist dd {
  /* margin: 0 0 0 1.5rem; */
  margin: 0 0 0.25rem 1.5rem;
}

.doc .dlist dd:last-of-type {
  margin-bottom: 0;
}

.doc .tableblock .dlist {
  margin: 1.5rem;
}

.doc hr {
  border: solid var(--section-divider-color);
  border-width: 2px 0 0;
  height: 0;
}

.doc b.button {
  white-space: nowrap;

  /* effectively ignores hyphens setting */
}

.doc b.button::before {
  content: '[';
  padding-right: 0.25em;
}

.doc b.button::after {
  content: ']';
  padding-left: 0.25em;
}

.doc kbd {
  display: inline-block;
  font-size: var(--font-size-0);
  background: var(--kbd-background);
  border: 1px solid var(--cds-border-strong);
  border-radius: 0.25em;
  box-shadow:
    0 1px 0 var(--cds-border-strong),
    0 0 0 0.1em var(--body-background) inset;
  padding: 0.25em 0.5em;
  vertical-align: text-bottom;
  white-space: nowrap;

  /* effectively ignores hyphens setting */
}

.doc kbd,
.doc .keyseq {
  line-height: 1;
}

.doc .keyseq {
  font-size: var(--font-size-1);
}

.doc .keyseq kbd {
  margin: 0 0.125em;
}

.doc .keyseq kbd:first-child {
  margin-left: 0;
}

.doc .keyseq kbd:last-child {
  margin-right: 0;
}

.doc .menuseq,
.doc .path {
  hyphens: none;
}

.doc .menuseq i.caret::before {
  content: '\203a';
  font-size: 1.1em;
  font-weight: var(--font-weight-6);
  line-height: calc(1 / 1.1);
}

.doc :not(pre).nowrap {
  white-space: nowrap;
}

.doc .nobreak {
  hyphens: none;
  word-wrap: normal;
}

.doc sup.footnote,
.doc sup.footnoteref {
  font-size: 0.875em;
  position: static;
  vertical-align: super;
}

.doc sup.footnote a,
.doc sup.footnoteref a {
  text-decoration: none;
}

.doc sup.footnote a:active,
.doc sup.footnoteref a:active {
  text-decoration: underline;
}

#footnotes {
  font-size: 0.85em;
  line-height: 1.5;
  margin: 2rem -0.5rem 0;
}

.doc td.tableblock > .content #footnotes {
  margin: 2rem 0 0;
}

#footnotes hr {
  border-top-width: 1px;
  margin-top: 0;
  width: 20%;
}

#footnotes .footnote {
  margin: 0.5em 0 0 1em;
}

#footnotes .footnote + .footnote {
  margin-top: 0.25em;
}

#footnotes .footnote > a:first-of-type {
  display: inline-block;
  margin-left: -2em;
  text-align: right;
  width: 1.5em;
}

/* very custom */

.doc details {
  margin-top: var(--cds-spacing-03);
  border: 1px solid var(--cds-ui-04);
  border-radius: 5px;
  color: var(--cds-text-02);
  font-size: var(--font-size-2);
  font-style: italic;
  background: var(--cds-ui-03);

  /* padding-inline: var(--cds-spacing-05); */
  padding-block: var(--cds-spacing-03);
}

.doc details summary {
  font-weight: bold;
  color: var(--cds-text-02);
  padding-inline-start: 3rem;
  text-indent: -1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  background: var(--cds-ui-03);
  border-radius: 5px;
}

.doc details > .content {
  /* if you put this in the details it wrecks the padding */
  font-size: var(--font-size-2);
  background-color: var(--cds-ui-01);
  padding-inline-start: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 5px;
}

.doc details > summary::marker {
  color: var(--cds-text-01);
}

.doc details[open] {
  padding-block-end: 0;
}

.doc details[open] > summary {
  margin-bottom: var(--cds-spacing-03);
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}
