/* @import "latin.css"; */
/* @import "latin-ext.css"; */
/*no need as we get this globally at the base from node direct*/
body {
  font-size: 120%;
  font-family: 'Radio Canada', 'Noto Sans', system-ui, sans-serif;
}

h3 {
  margin-left: 1rem;
  font-size: 3rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 0.5rem;
  margin-left: 2rem;
  line-height: 1.4;
}

.spv {
  margin-left: 2rem;
}

.gr {
  padding-top: 0.5rem;
  margin-left: 4rem;
}

ol.def {
  list-style: decimal;
}
ol.def,
ul.def {
  margin-left: 6rem;
}

ol.def li,
ul.def li {
  padding-top: 0.5rem;
}

dt {
  font-weight: bold;
  padding-top: 0.5rem;
  text-indent: 2rem;
}

dd {
  font-style: italic;
  text-indent: 3rem;
}
