html {
  --base-font-size: 1.125rem; /* Equivalent to 18px or open-props font-size-2 */

  /* Converted from previous values with 18px → 16px scaling */

  /* some correspond already to open-props */

  /* --doc-font-size-xxxs: 0.75rem;   /* 12px */

  /* --font-size-0: .75rem; */
  --font-size-05: 0.8438rem; /* 13.5px */
  --font-size-07: 0.9375rem; /* 15px * (16/18) */

  /*  --font-size-1: 1rem; /* 16px * (16/18) */

  /* --font-size-2: 1.125rem; /* 18px * (16/18) */

  /* --font-size-3: 1.25rem; /* 20px * (16/18) */
  --font-size-35: 1.375rem; /* 22px */

  /* --font-size-4: 1.5rem; /* 24px * (16/18) */
  --font-size-55: 2.25rem; /* 36px * (16/18) */

  /* open-props refs
  --font-size-00: .5rem;
  --font-size-0: .75rem;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-7: 3rem;
  --font-size-8: 3.5rem;
  --font-size-fluid-0: clamp(.75rem, 2vw, 1rem);
  --font-size-fluid-1: clamp(1rem, 4vw, 1.5rem);
  --font-size-fluid-2: clamp(1.5rem, 6vw, 2.5rem);
  --font-size-fluid-3: clamp(2rem, 9vw, 3.5rem);
  --font-weight-1: 100;
  --font-weight-2: 200;
  --font-weight-3: 300;
  --font-weight-4: 400;
  --font-weight-5: 500;
  --font-weight-6: 600;
  --font-weight-7: 700;
  --font-weight-8: 800;
  --font-weight-9: 900;
  --font-lineheight-00: .95;
  --font-lineheight-0: 1.1;
  --font-lineheight-1: 1.25;
  --font-lineheight-2: 1.375;
  --font-lineheight-3: 1.5;
  --font-lineheight-4: 1.75;
  --font-lineheight-5: 2;
  --font-letterspacing-0: -.05em;
  --font-letterspacing-1: .025em;
  --font-letterspacing-2: .050em;
  --font-letterspacing-3: .075em;
  --font-letterspacing-4: .150em;
  --font-letterspacing-5: .500em;
  --font-letterspacing-6: .750em;
  --font-letterspacing-7: 1em;
  */
  --shadow-color: 220 3% 15%; /* Default light shadow */
  --shadow-strength: 1%;
  --inner-shadow-highlight: inset 0 -0.5px 0 0 #fff, inset 0 0.5px 0 0 #0001;
  --color-primary: var(--cds-ui-02);

  /* admonitions */
  --caution-color: var(--orange-300); /* #ffb784 */
  --caution-on-color: var(--gray-700);
  --important-color: var(--purple-400); /* #b395ff */
  --important-on-color: var(--gray-700);
  --note-color: var(--cyan-300); /* #82cfff */
  --note-on-color: var(--gray-700);
  --tip-color: var(--teal-300); /* #3dddb9 */
  --tip-on-color: var(--gray-7);
  --warning-color: var(--magenta-400); /* #ff7eb6 */
  --warning-on-color: var(--gray-700);
  --doc-font-color: var(--cds-text-01);
  --doc-icon-filter: invert(14.5%); /* matches #242424 */
  --doc-font-size: var(--cds-body-02-font-size);
  --doc-font-size-desktop: var(--cds-body-02-font-size);
  --doc-line-height: 1.3;
  --heading-font-color: var(--cds-text-01);
  --heading-font-weight: var(--cds-heading-01-font-weight);
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--cds-border-strong);
  --link-font-color: var(--cds-link-primary);
  --link-hover-font-color: var(--blue-40);
  --link-unresolved-font-color: var(--important-color);
  --link-unresolved-hover-font-color: #da1e28;
  --abstract-background: var(--cds-ui-03);
  --abstract-font-color: var(--cds-text-02);
  --abstract-border-color: var(--cds-border-strong);
  --admonition-background: var(--cds-ui-01);
  --admonition-label-font-weight: var(--cds-quotation-02-font-weight);
  --caption-font-color: var(--cds-text-02);
  --caption-font-weight: var(--cds-caption-02-font-weight);
  --code-background: var(--cds-ui-03);
  --code-font-color: var(--cds-text-01);
  --example-background: var(--cds-ui-02);
  --example-border-color: var(--cds-border-strong);
  --kbd-background: var(--cds-ui-03);
  --kbd-border-color: var(--cds-border-sutble);
  --pre-background: var(--cds-ui-02);
  --pre-border-color: var(--cds-border-strong);
  --pre-annotation-font-color: var(--cds-text-02);
  --quote-background: var(--cds-ui-03);
  --quote-border-color: var(--cds-border-strong);
  --quote-font-color: var(--cds-text-02);
  --quote-attribution-font-color: var(--cds-text-04);
  --sidebar-background: var(--cds-ui-03);
  --table-border-color: var(--cds-border-strong);
  --table-stripe-background: var(--cds-ui-03);
  --table-footer-background: var(--cds-ui-02);

  /* social media colors */

  /* adapt this some day to --brand from open-props */
  --facebook-color: #3b5998;
  --github-color: #171515;
  --gitlab-color: #fca326;
  --google-color: #dd4b39;
  --linkedin-color: #0e76a8;
  --rss-color: #ee802f;
  --twitter-color: #00aced;
}

/* adapt open-props shadows to carbon design */
html[theme='g80'] {
  --shadow-color: 220 40% 2%; /* Darker shadow */
  --shadow-strength: 25%;
  --inner-shadow-highlight: inset 0 -0.5px 0 0 #fff1, inset 0 0.5px 0 0 #0007;
}
