<script>
  import Head from '$lib/components/Head.svelte';
  import CSLang from '$lib/components/CSLang.svelte';
  import { locale } from 'svelte-i18n';
  import { page } from '$app/stores';
  import { getAllLanguageLinks } from '$lib/js/metalang.js';
  export let data;
  $: ({ metadata } = data);

  // Reactive page URL
  let pathname = $page.url.pathname;
let pageUrl = $page.url.href
  // Extract metadata fields with defaults
  $: ({
    doctitle: title = '',
    author = '',
    description = '',
    keywords = '',
    pageImage = 'site.svg',
    pageNoindex = 'false'
  } = metadata || {});

  // console.log('pathname:', pathname);
  $: pageLang = pathname.split('/')[1];
  let section = pathname.split('/')[2];
  let languageLinks = getAllLanguageLinks(pathname);
  $: locale.set(pageLang);
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>
<CSLang {languageLinks} {pageLang} />

<slot />

<!-- <svelte:element this={data.html} /> -->

<style lang="postcss">
</style>
