<script>
  import Head from '$lib/components/Head.svelte';
  import { page } from '$app/stores';
  import { locale } from 'svelte-i18n';
  import CSLang from '$lib/components/CSLang.svelte';
  import { getAllLanguageLinks } from '$lib/js/metalang.js';
  const pathname = $page.url.pathname;
  const section = pathname.split('/')[2];
  const pageLang = pathname.split('/')[1];
  let pageUrl = $page.url.href;
  $: locale.set(pageLang);
  import Mediaplus from '$lib/components/en/resources/Mediaplus.svelte';
  import Ankataa from '$lib/components/en/resources/Ankataa.com.svelte';
  import Bebiphilip from '$lib/components/en/resources/Bebiphilip.svelte';
  import Bible from '$lib/components/en/resources/Bible.svelte';
  import Mandenkan from '$lib/components/en/resources/Mandenkan.com.svelte';
  import Rfi from '$lib/components/en/resources/Rfi.svelte';
  import { Tabs, Tab, TabContent } from 'carbon-components-svelte';
  import metadata from './meta.json';
  let title = metadata.title;
  let author = metadata.author;
  let description = metadata.description;
  let keywords = metadata.keywords;
  let pageImage = metadata.pageImage;
  let pageNoindex = false;
  let languageLinks = getAllLanguageLinks(pathname);
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>
<CSLang {languageLinks} {pageLang} />

<div class="doc">
  <Tabs autoWidth>
    <Tab label="Media Plus" />
    <Tab label="Ankataa" />
    <Tab label="Youtube" />
    <Tab label="Bible" />
    <Tab label="Mandenkan" />
    <Tab label="RFI" />
    <svelte:fragment slot="content">
      <TabContent><Mediaplus /></TabContent>
      <TabContent><Ankataa /></TabContent>
      <TabContent><Bebiphilip /></TabContent>
      <TabContent><Bible /></TabContent>
      <TabContent><Mandenkan /></TabContent>
      <TabContent><Rfi /></TabContent>
    </svelte:fragment>
  </Tabs>
</div>

<style lang="postcss">
  @import '/src/assets/css/vars.css';
  @import '/src/assets/css/doc.css';
</style>
