<script>
</script>

<iframe
  id="slides"
  title="Quiz"
  src="https://slides-dyu.coastsystems.net/"
  width="100%"
  frameborder="0"
  allowfullscreen="allowfullscreen"
  allow="geolocation *; microphone *; camera *; midi *; encrypted-media *"
></iframe>

<style lang="postcss">
  @import '/src/assets/css/slides.css';
  #slides {
    height: calc(100dvh - 10rem);
  }
</style>
