<script>
  import Head from '$lib/components/Head.svelte';
  import { page } from '$app/stores';
  const pathname = $page.url.pathname;
  export let data;
  let title = data.attributes?.doctitle;
  let author = data.attributes?.author;
  let description = data.attributes?.description;
  let keywords = data.attributes?.keywords;
  let pageImage = data.attributes?.[['page-image']];
  pageImage = !pageImage ? 'wulufato.webp' : pageImage;
  let pageNoindex = data.attributes?.[['page-noindex']];
  pageNoindex = pageNoindex === 'true' ? true : 'false';
  let pageCanonical = data.attributes?.[['page-canonical']];
</script>

<Head
  {pathname}
  {pageCanonical}
  {title}
  {author}
  {description}
  {keywords}
  {pageNoindex}
  {pageImage}
/>

<div class="doc">
<slot />
</div>

<style lang="postcss">
  @import '/src/assets/css/doc.css';
  @import '/src/assets/css/doc-custom.css';
  @import '/src/assets/css/toc-custom.css';
</style>
