<script>
  import { DataTable, Link, ImageLoader } from 'carbon-components-svelte';
  import Launch from 'carbon-icons-svelte/lib/Launch.svelte';
  import Head from '$lib/components/Head.svelte';
  import { page } from '$app/stores';
  import { _, locale } from 'svelte-i18n';
  import CSLang from '$lib/components/CSLang.svelte';
  import PageImage from '$lib/components/PageImage.svelte';
  import { getAllLanguageLinks } from '$lib/js/metalang.js';
  const pathname = $page.url.pathname;
  const section = pathname.split('/')[2];
  const pageLang = pathname.split('/')[1];
let pageUrl = $page.url.href
  import fonts from '/src/assets/metadata/fontlist.json';
  const rows = fonts;
  let title = $_('fontlist.title');
  let description = $_('fontlist.description');
  let keywords = $_('fontlist.keywords');
  let author = 'Boyd Kelly';
  let pageImage = 'fontlist.svg';
  let languageLinks = getAllLanguageLinks(pathname);
  let pageNoindex = false;
  locale.set(pageLang);
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>
<CSLang {languageLinks} {pageLang} />
<!-- {#each rows as row} -->
<!-- 	<ClickableTile href={row.url}> -->
<!-- 		{row.pretty} -->
<!-- 	</ClickableTile> -->
<!-- {/each} -->

<DataTable
  sortable
  headers={[
    { key: 'pretty', value: $_('fontlist.fontname'), width: '200px' },
    { key: 'image', value: $_('fontlist.sample'), width: '600px' }
  ]}
  {rows}
>
  <PageImage {pageImage} />
  <h2 slot="title">{$_('fontlist.title')}</h2>
  <span slot="description" style="display: inline-flex; flex-direction: column;">
    <span style="font-size: 1.2rem;">{$_('fontlist.description')}</span>
    <Link size="lg" href="/download/fontlist.pdf">{$_('pdfdoc')}</Link>
  </span>

  <svelte:fragment slot="cell" let:row let:cell>
    {#if cell.key === 'pretty'}
      <Link style="font-size: 1.2rem" icon={Launch} href={row.url} target="_blank"
        >{row.pretty}</Link
      >
    {/if}
    {#if cell.key === 'image'}
      <ImageLoader src={`/images/${row.image}`} alt={row.pretty} href={row.url} />
    {/if}
  </svelte:fragment>
</DataTable>
