<script>
  import { SideNav, SideNavItems, SideNavMenuItem } from 'carbon-components-svelte';
  import { _ } from 'svelte-i18n';
  import { isSideNavOpen } from '$lib/js/sidenav.store.js';
  import DropdownLang from '$lib/components/DropdownLang.svelte';
  const breakpoint = 1056;
  function SideNavLinkClick() {
    // if (window.innerWidth <= breakpoint) {
    //   $isSideNavOpen = false;
    // }
  }
</script>

<SideNav fixed expansionBreakpoint={breakpoint} bind:isOpen={$isSideNavOpen}>
  <SideNavItems>
    <SideNavMenuItem on:click={SideNavLinkClick} href="/bm/docs/udhr/" text="UDHR" />
    <SideNavMenuItem
      on:click={SideNavLinkClick}
      href="/fr/docs/udhr-morph/"
      text="UDHR Morphology"
    />
    <SideNavMenuItem
      on:click={SideNavLinkClick}
      href="/bm/docs/kodi-w100/"
      text={$_('kodi_w100.title')}
    />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/slides/quiz/" text="Ɲiningaliw" />
    <SideNavMenuItem
      on:click={SideNavLinkClick}
      href="/bm/docs/alpha-dyu/"
      text={$_('alphabet.title')}
    />
    <SideNavMenuItem
      on:click={SideNavLinkClick}
      href="/bm/docs/money/"
      text="Wari {$_('Dyula')} na"
    />
    <SideNavMenuItem
      on:click={SideNavLinkClick}
      href="/bm/docs/animals/"
      text="Animaux en dioula de Côte d'Ivoire"
    />
    <SideNavMenuItem
      on:click={SideNavLinkClick}
      href="/dyu/docs/cours/contes/ngalonci/"
      text="Ngalonci"
    />
  </SideNavItems>
  <DropdownLang />
</SideNav>
