<script>
  import { DataTable } from 'carbon-components-svelte';
  import Head from '$lib/components/Head.svelte';
  import { page } from '$app/stores';
  import { _, locale } from 'svelte-i18n';
  import CSLang from '$lib/components/CSLang.svelte';
  import { getAllLanguageLinks } from '$lib/js/metalang.js';
  const pathname = $page.url.pathname;
  const section = pathname.split('/')[2];
  const pageLang = pathname.split('/')[1];
let pageUrl = $page.url.href
  import freq from '/src/assets/metadata/frequency.json';
  const rows = freq;
  locale.set(pageLang);
  // console.log('lang: ', $_('locale'));
  let title = $_('freq.title');
  let author = $_('freq.author');
  let description = $_('freq.description');
  let keywords = $_('freq.keywords');
  //let tags = $_('freq.tags');
  let pageImage = $_('freq.image');
  let pageNoindex = false;
  import { DonutChart } from '@carbon/charts-svelte';
  import '@carbon/charts-svelte/styles.css';
  import data from '/src/assets/metadata/donut.json';
  // import options from './options.js'
  // import data from './data.js'
  let languageLinks = getAllLanguageLinks(pathname);
  const options = {
    resizable: true,
    height: '600px',
    theme: 'g90'
  };
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>
<CSLang {languageLinks} {pageLang} />

<h1>
  {$_('freq.title')}
</h1>
<DonutChart {data} {options} />

<DataTable
  zebra
  sortable
  headers={[
    { key: 'letter', value: $_('freq.letter') },
    { key: 'frequency', value: $_('freq.total') },
    { key: 'monthly', value: $_('freq.monthly'), sort: false }
  ]}
  {rows}
>
  <h2 slot="title">{$_('freq.title')}</h2>
  <span slot="description" style="font-size: 1rem"> {$_('freq.description')} </span>
  <svelte:fragment slot="cell" let:row let:cell>
    {#if cell.key === 'monthly'}
      {Number(row.frequency / row.issues).toFixed(0)}
    {:else}
      {cell.value}
    {/if}
  </svelte:fragment>
</DataTable>
