<script>
  import SideNavBlog from '$lib/components/en/SideNavBlog.svelte';
</script>

<SideNavBlog />
<div class="doc">
  <slot />
</div>

<style lang="postcss">
  @import '/src/assets/css/vars.css';
  @import '/src/assets/css/doc.css';
</style>
