<script>
            
  import { OrderedList, ListItem, ImageLoader, InlineLoading } from "carbon-components-svelte";
            
  </script><h1 class="bx--heading bx--productive-heading--06">Sran mmla mun be mɛn nun jɔ bolɛ</h1>
<p class="paragraph">
      © The Office of the High Commissioner for Human Rights 1996–2009
    </p>
<section class="bx--feature">
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--05">Ibo bolɛ</h2>
      <div class="sectionbody">
         <div class="imageblock left">
            <div class="content"><img src="/images/udhr.svg"></div>
         </div>
      </div>
      <p class="paragraph bx--text-paragraph">Kɛ ɔ fin kɛ sran kwlakwa i sran bulɛ ɔ fin blɔlɔ'n ti, kɛ i sran-mmla ɔ nin sran kwlakwla liɛ'n sɛ'n ti, kɛ isɔ nin ye ɔ nin fɔundi, nanwlɛ atin, aklunjɔɛ ba mɛn nun'n ti</p>
      <p class="paragraph bx--text-paragraph">Kɛ ɔ fin kɛ sɛ be si'a sran-mmla mun, nan sɛ be bu'a be like fi, i sɔ nin yɛ ɔ fa sa tɛtɛ yewa'n ba'nti, sangɛ kɛ ɔ fin kɛ be seli kɛ mɛn nga mɔ i nun sran mun be di be fɔundi, mɔ be kwla be kan be klunklo ndɛ, be kwla be sɔ be klunklo like, mɔ sɛkunlɛ ɔ nin yalɛ b'a jaso su, i sɔ mɛn mɔ be wan sran kundɛ i dan'n ti</p>
      <p class="paragraph bx--text-paragraph">Kɛ ɔ fin kɛ i dan lika nin yɛ le kɛ ɔ fata kɛ mmla su awa yɛ ɔ nian sran-mmla mun be suɔ, kɛ ɔ ko yo nan b'a mianmian-man sran nan w'a faman ya w'a jaso-man be nga be fa kwlalɛ nin sran tɛtɛ yolɛ be fa be tintin i su be wun'n ti</p>
      <p class="paragraph bx--text-paragraph">Kɛ ɔ fin kɛ like nga ɔ ti kpa dan yɛlɛ mɛn mun b'afiɛn janvuɛ kekle diwa'n ti</p>
      <p class="paragraph bx--text-paragraph">Kɛ ɔ fin kɛ mɛn unmuan nun nvle mun be yali be wan be kan be sie su yekun kɛ be te lafi sran-mmla su dan, sran ɔ ti like dan, ɔ le'a gua, bla nin yasua be sɛ. Be wan i sɔ'n ti, like nga ba ko yo nan sran mun b'a nyan alaje, nan aklunjɔɛ w'a ba be wun, fɔundi nun, i sɔ like nin yɛ be wa yo'n ti</p>
      <p class="paragraph bx--text-paragraph">Kɛ ɔ fin kɛ nvle nga be wo anyia sɔ nun, be wan be nin like nga be flɛ, kɛ "Mɛn mun be Bo Yekun Anyia" be bo yekun be bo mandrɛn nan sran i fɔndi ɔ nin i sranmmla be kaci ninge mɔ sran kwlakwla i ti wo be bo'n ti</p>
      <p class="paragraph bx--text-paragraph">Kɛ ɔ fin kɛ nga ɔ ti kpa dan yɛlɛ kɛ sran mun be ngba be fa be ti be wlɛ sran-mmla ɔ nin sran-fɔundi be bo'n ti</p>
      <p class="paragraph bx--text-paragraph">Anyia Dan wan kɛ Ndɛ nga be kɛn yɛ'n, ɔ fata kɛ ɔ kaci kɛ like mɔ i dɛnman yɛ sran kwalkwla nian; mɛn kwlakwla be kundɛ be kɛn; ɔ ye sɔ nan mɛn kwlakwula su sran o, mɛn kun i siesielɛ ninge mun, be bu Ndɛ Dan nga i akundan cɛn kwlakwla, be bo mandrɛn ɔ nin sran mun be fluwaklelɛ, ɔ nin ngwlɛlɛ klelɛ, be yo man sran mun be dan lika si sran-mmla ɔ nin fɔndi; kɛ be ko si be kpɔkun be yo blɛblɛ, mɛn kun nun o, mɛn ngba nun o, man sran mun be ngba be si i sɔ ndɛ: mɛn nga be trannin annuanzɛ dan i ase be nun sran mun o, be nga be wo i sɔfuɛ mun be bo'no, ɔ fata kɛ i sɔ sran mun be ngba be si sran-mmla ɔ nin sran-fɔundi.</p>
   </div>
</section>
<section class="">
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">1. Tikle kikli</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Sran mun be ngba, kɛ be wu be ɔ, be ngba be sɛ, fɔndi nun, sran-mmala nun. Be si akundanbu, be si su ɔ fata kɛ sran mun be tran'n, be tran aniaan nun tranlɛ.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">2. Tikle 2</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Sran-mmla ɔ nin sran-fɔundi nga ɔ wo Ndɛ dan nun, sran kwlakwla kwla fa ye iliɛ; ɔ le'a kɛ e ti sran nvle ngunmin, kɛ e wunnɛn ti'a kun, e aniɛn ti'a kun, e bo lika ti'a kun, e like sɔwa ɔ ti i ngunmin, e politiki angundan ti'a kun, e fin'a lika kun, ɔ le'a kɛ wie ti sikafuɛ, wie ti yalɛfuɛ, kɛ wie mun be osu ti wlengbi, wie mun be osu ti kanga.</p>
         <p class="paragraph bx--text-paragraph">I kungba yekun, be kwla'a kpaman sran mun be nun be se'akɛ nga ti bue nga su sran, nga be wun'ɛn i liɛ wlɛ'n kpa, be wun'an mɛn nga su ɔ fin ɔ: be kwla'a be se'a sɔ, kanzɛ sran fin nvle uflɛ suo, sɛ nvle sɔ ɔ le i fɔundio, kanze i ti wo mɛn uflɛ i bo o, ɔ nunmɛn i ti bo nun tilɛ o.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">3. Tikle 3</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Sran kwalakwla, ɔ fata kɛ be sɛsɛ i nguan, be wukɛ i ɔ di i fɔundi, be sɛsɛ ibɔbɔ ba unmuan.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">4. Tikle 4</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Be kwla'a be fa-man sran be kaci'a kanga. Sran kanga yolɛ nin i fatɔ ɔ nin i ninge i fa sɔ mun be yowa, ba tanninnin be ngba be atin.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">5. Tikle5</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Be kwla'a be ye'a sran fi like tɛtɛ mun, be wlɛ-mɛn i bisva, be kwla'a be yo-mɛn i ninge nga mɔ ɔ ye sran finfin, mɔ ɔ kaci sran kɛ blo nnɛn mun be sa.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">6. Tikle 6</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Lika kwlakwla nga sran kun wo, ɔ fata kɛ be bu i sran, ɔ fin i mmla su.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">7. Tikle 7</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Sran mun be ngba be sɛ mmla mu be nyrun; i sɔ'n ti, ɔ fata kɛ mmla mun be wutu be su, be ngba. sran kwlakwla, ɔ fata kɛ be wuke i nan sran nun kpakpawa w'a nyɛn-mɛn; sran nun kpakpawa ɔ ti kɛ Ndɛ nga i gblu tɔwa sa.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">8. Tikle 8</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Sran kwmakwla le atin ɔ ko to ibɔbɔinvle su jɔlɛ difuɛmun, sɛ ɔ fin nan be bu i anunnflin i fɔundi-mmla su, fɔundi-mmla nga be klɛli i fluwa nga be flɛ i kɛ "mɛn i takawa i bo fluwa".</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">9. Tikle 9</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Be kwla'a be tra-man sran ngbɛn sa, be kwla'a be wlɛ-mɛn i bisua, be kwla'a be tu-mɛn i mɛn kun su ngbɛn sa.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">10. Tikle 10</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Sɛ be sanman sran, nɑn ndrumun tran nun, ndɛ nga ti yɛ be sanman i, ɔ fata kɛ nzraa nun, nanwlɛ nun, jɔlɛ difuɛ mun, be nga be ti nun-man sran fi bo'n, mɔ be ti nanwlɛ sran, be yɛ ɔ fata kɛ be ken i sɔ ndɛ liɛ niɔn: be yɛ be kwla se kɛ sɛ ɔ wo i ndɛ fɛ su o, sɛ kusuman, nzanman mɔ be sanmanin i, ɔ ti atin su o.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">11. Tikle 11</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Sran kwla nga b'a sɛnmɛn i ndɛ kun ti, kɛ be nian kan ndɛ mɔ be nian bu-man, i sɔ fuɛ'n be kwla'a se'a kɛ i ndɛ yo'a fɛ. A wun kɛ be kwla be se sɔ, san b'a di jɔlɛ, be ngba be ngba be nyrun, ato a wlu'a nun, be nga be ko jrɛn i sin i ti kplilɛ b'a jran.
         </ListItem>
            <ListItem>
            Be kwla-man be bu-man ndɛ be guɛ'ɛ sran kun su; sɛ ndɛ ti yɛ be sɛnmɛn i, i nun nga ɔ fa ye sa sɔn, mmla wie fi, i nvle liɛ su mmla o, mɛn nun mmla o, be bu'ɛ i sɔ like liɛ'n kɛ ɔ ti like tɛ. I ng'ɔ wuka su, yɛlɛ kɛ alamandi nga be fu i, bisua nga be wlɛ i, be nuan kwla'a tra-man nga be fa be yo i sɔ titi'n
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">12. Tikle 12</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Be kwla'a be wla-man be nuan sran kun i awlo nun ndɛ mun be nun ngbɛn, i awlo nun ndɛ i tranwlɛ, i fluwa nga ɔ klɛ'n, i fluwa nga be klɛ i, be kwla'a be kɛn'ɛn i wun ndɛ ngbɛn, be kwla'a be saci i dunman ngbɛn. I sɔ ninge liɛ mun be ti, ɔ fata kɛ mmla mun be sasa sran kwlakwla.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">13. Tikle 13</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Sran kwlakwla ɔ kwla wlanwlan sin, nvle kun nun, lika nga ɔ klɔ kɛ ɔ tran'n ɔ kwla se kɛ wa yɛ n klɔ kɛ n tran.
         </ListItem>
            <ListItem>
            Sran kwlakwla ɔ le atin mɔ ɔ jaso nvle kun su kɔ lika nfle; ɔ kwla jaso ibɔbɔ nvle liɛ'n su, kpɔkun ɔ kwla sɛ i sin ɔ ba i nvle liɛ'n nun yekun.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">14. Tikle 14</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Sɛ nvle kun su be kle sran kun yalɛ, sran sɔ'n ɔ le atin ɔ kɔ mantan nvle ufuɛ mɔ ɔ kwla sɔ i nun ɔn.
         </ListItem>
            <ListItem>
            Sangɛ i sɔ atin liɛ'n, wɔ nga a ye sa tɛtɛ mɔ ɔ kɔ-man Mɛn b'Anyia be ndɛ liɛ su'n, wɔ nga a ye i sɔ sa tɛ mɔ fata kɛ be sanman wɔ'n, sa kpa, a kwla'a a jrɛn-mɛen i sɔ atin su kan-man ndɛ.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">15. Tikle 15</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Sran kwlakwla ɔ le atin mɔ ɔ nyen i auliɛ nvle
         </ListItem>
            <ListItem>
            Be kwla-man be se-man sran kun kɛ, ɔ fin andɛ a le'a auliɛ nvle wie kun, i sa sɔ ngbɛn; kusuman, sɛ sran kun wan ɔ kaci i auliɛ nvle, ɔ le atin kaci.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">16. Tikle 16</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Kɛ be ko nyin yasua kun ɔ nin bla kun, be le atin be ja be wun, be taka be awlo; ɔ fata kɛ ndɛ kɛ nvle uflɛ nun sran, mɛn uflɛ nun sran, like sɔwa wafa uflɛ sran, ɔ fata kɛ i sɔ angundan wlu nun. Be aja nun, be nyɔn be sɛ; be nun kun se'a kɛ ɔ tin kun su: i blɛ nga be ja o, kɛ be titi aja nun o.
         </ListItem>
            <ListItem>
            A wun kɛ be ja'n, uun be nyɔn be nuan w'a yekun, be klun klo su.
         </ListItem>
            <ListItem>
            Awlo bo ɔ ti kɛ ananganman like sa, yɛ ɔ ti nvle kun su sa i olui niɔn; ɔ fata kɛ nvle ɔ nian su kɛ i nyima sa, kɛ awa wukɛ i.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">17. Tikle 17</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Sran kwlakwla, i kungba anzɛ, ɔ nin sran uflɛ mun anzɛ, ɔ kwla le i ti bɔ nun like.
         </ListItem>
            <ListItem>
            Be kwla'a le'a sran fi i ti bo nun like i sanun.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">18. Tikle 18</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Sran kwlakwla ɔ le atin mɔ ɔ bu i ti bo nun angundan, ɔ nyɛn i klun ndɛ, ɔ kwla sɔ i like wafa nga ɔ klo i'n; kɛ ɔ fin i lɛ kusuman, sɛ i wan ɔ kaci nan ɔ sɔ like uflɛ'n, sɛ i wan ɔ bu akundan uflɛ'n, ɔ le atin ɔ kaci. Sɛ i wan i klun akundan liɛ'n, i like sowa liɛ'n, sɛ i wan ɔ bo be jɔ, i ba kungba o, ɔ nin sran uflɛ mun o, ɔ le atin ɔ bo be jɔ; sɛ kusu i wan ɔ ye i like aswre nun, ɔ le atin yo. I kwlaa ngɔ'lɛ, ɔ kwla klɛ i fluwa nun, ɔ kwla yo like kwlakwla nga fata kɛ ɔ yo; sran fi kwla'a tannin i atin.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">19. Tikle 19</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Sran kwlakwla ɔ le atin ɔ bu i bɔbɔ ti bo nun akundan, ɔ kɛn i klun ndɛ nga i wan ɔ kan'n. I sɔ i sin yɛle kɛ sɛ ɔ kɛn i klun ndɛ'n, be kwla-man be kle'ɛ i yalɛ; i sin nin yɛle kɛ ɔ le atin kundɛ ndɛ mun be tilɛ; i kusuman kwla bo ndɛ ɔ nin nzɛbua mun be jɔ kle sran mun; like kwlakwla nga ɔ kwla fa bo i sɔ jɔlɛ liɛ, ɔ fa bo; ɔ nun-man i ti nun kaan kɛ awɛ wo nvle mun b'afiɛn.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">20. Tikle 20</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Sran kwlakwla ɔ le atin ɔ nin sran ufuɛ mun be ya anyia; ɔ kwla wlu anuanzɛ nga ɔ ti'a nzaje anuanzɛ nun.
         </ListItem>
            <ListItem>
            Be kwla'a be mianmian-man sran kun ɔ wlu-man anuanzɛ kun nun.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">21. Tikle 21</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Sran kwlakwla ɔ le atin mɔ, i bɔbɔ i nvle liɛ'n su, ɔ tran awa i juman be ti, sɛ nɛn i bɔbɔ trele sa, ɔ kwla yo i janunfuɛ.
         </ListItem>
            <ListItem>
            Sran kwlakwla ɔ le atin, nán ndrunmun kan tran nun, mɔ di i bɔbɔ i nvle'n su awa juman.
         </ListItem>
            <ListItem>
            Nvle kun su i sran unmwah mun, be ye be man nvle sɔ i su gbɛngbɛn be fangan. I sɔ'n ti, ɔ fata kɛ be yo manwlɛ nun vote, nan sran mun be ndɛ nga ɔ wo be klun, b'afɛ i sɔ b'a kan vote'n le nuan; kɛ i nuan ko ju'n, ɔ fata kɛ ɔ sɛn i wun; sran ngba vote o, aswre vote o; i kwlaa nga ɔ yo ɔ, vote i yowa, nɑn mianmianlɛ tran nun, sran kun i klun vote yɛ ɔ vote ɔ.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">22. Tikle 22</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Sran kwlakwla, kɛ mɔ ɔ ti nvle kun su sran'n, ɔ fata kɛ ɔ nyan awa sran anwukalɛlike, ɔ le awunnyanmblusuɛ atin, awasranwukalɛ atin, be nyin su yiyilɛ ninge atin; i sɔ ninge mun yɛ be ti sran kwlaa cinjin, be yɛ be yi sran i sran lika nglo ɔ, be yo i fɔundi-mmla be dan; i sɔ'n fin nvle kun i mandrɛn bowa nun, ɔ fin mɛn mun be wun wukawa nun, ɔ fin nvle kun i siesiewa nun, ɔ fin nvle kun i nun anyanbewun ninge mun nun.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">23. Tikle 23</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Sran kwla ɔ le atin mɔ ɔ di i bɔbɔ i klunklo juman, juman i fa diwa ɔ nin i akatua be ti i klunsu; ɔ fata kɛ be nian i su, nɑn man ɔ tran sa ngbɛn kɛ ɔ nyan-man juman
         </ListItem>
            <ListItem>
            Sran kwlakwla i juman nga ɔ di, i su sika cɛ yɛ ɔ fata kɛ be mɛn i ɔ, ɔ le'a kɛ sran kun ɔ le i akatua, sran kun ɔ le i akatua
         </ListItem>
            <ListItem>
            Sran kwlakwla, kɛ ɔ di juman'a ɔ fata kɛ i akatua nga be tuɛ i'n, ɔ ju i bɔbɔ, i yi ɔ nin i mma mun be wun siesielɛ kɛ ɔ fata kɛ sran fa siesie i wun sa. Sɛ akatua sɔ'n ju-man, awa wuka suɔ ɔ yo ye.
         </ListItem>
            <ListItem>
            Sran kwlakwla ɔ nin i wiengu mun be kwla be taka jumandilɛ anuanzɛ, sran kwlakwla ɔ kwla wlu i sɔ anuanzɛ liɛ nun ɔ fa kpli i like nga ɔ lo i i ti.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">24. Tikle 24</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Sran kwlakwla, kɛ ɔ di juman'n, ɔ le atin ɔ lo unmiɛn, ɔ le blɛ wie ɔ ɔ yiyi i nyisu ɔ. ɔ fata kɛ dɔ nga mɔ ɔ fa di juman, nan ɔ cɛ ngboko; yɛ afuɛ kun nun i blɛ mɔ ɔ di'a juman, ɔ fata kɛ be tuɛ i kalɛ.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">25. Tikle 25</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Sran kwlakwla ɔ fata kɛ i sa nun yo fɛ nan w'a kwla w'a ye i wun ayre, w'a kwla w'a siesie i wun, i bɔbɔ nin i yi nin i mma mun, kɛ ɔ ti kɛ aliɛ dilɛ liɛ'n, tralɛ wlawa'n, lawlɛ'n, be wun ayre yelɛ'n, blɛ mɔ ɔ di'a juman'n, mɔ ɔ tɔ tukpakiɛ'n, sɛ ɔ kwla'a nun'n, sɛ ɔ wo angbeti nun'n, sɛ w'a yo oke'n; sa yalɛ kwlakwla nga ɔ tɔ i su mɔ i sa nun a wie'n, ɔ fata kɛ awa wukɛ i.
         </ListItem>
            <ListItem>
            Blata ɔ nin ba kangan mun, ɔ le be wukalɛ liɛ'n mɔ awa wuka be ɔ. Ba kangan kwlakwla, kanzɛ be wu be gua su o, kanzɛ be wu be aja nun o, be kwlakwla ɔ fata kɛ awa sasa be.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">26. Tikle 26</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Sran kwlakwla ɔla atin mɔ be kle i fluwa. Sran fluwa klelɛ'n, kɛ ɔ fa ju kɛ sua blu su'n, sika tualɛ nun-man nun. ɔ fata kɛ ba kangan mun be ngba be kɔ suklu, be nun kun le'ɛ ti kɛ ɔ kɔ-man. Sukln nga be kle blalɛ juman nin juman dilɛ nun, i sɔ suklu'n, ɔ fata kɛ ɔ tru; suklu dandan mun be nun wlulɛ i atin, ɔ fata kɛ be tike man sran kwlakwla; be kpa'a sran mun be nun, sran kun ɔ nin i like liɛ mɔ ɔ kwla yo ɔ.
         </ListItem>
            <ListItem>
            ɔ fata kɛ fluwa klelɛ ɔ yi sran i sran lika i nglo, ɔ yo man sran mun be bo nyan, ɔ yo man be nyin yi sran-mmla mun ɔ nin fɔundi-mmla nga ɔ ti fɔundi-mmla be bɔ'n. Fluwa klelɛ ɔ fata kɛ ɔ yo man ndidiɛ ba sran mun b'afiɛn, ɔ yo man sran mun be yaci sran kun nun ɔ yo i klunklo ninge, man janvuɛ dilɛ ɔ ba mɛn mun b'afiɛn, sran nvle mun b'afiɛn, like sɔfuɛ mun be wafa b'afiɛn. Fluwa klelɛ i kungba yekun, ɔ fata kɛ ɔ man "Mɛn mun be Bo Yekun Anyia" be ninge nga mɔ be yo mɔ alaje ko cɔ mɔn nun.
         </ListItem>
            <ListItem>
            Siɛ mun ɔ nin niɛn mun, be yɛ ɔ fata kɛ be kundɛ fluwa i klelɛ wafa nga ɔ nin be mma mun fata ɔ.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">27. Tikle 27</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Sran kwlakwla ɔ le atin mɔ, i nvle liɛ'n su ninge mɔ ɔ ti kɛ be nyin su yiyiwa ninge, be sa ti ninge, aguin ninge, ɔ le atin ɔ ye i sɔ ninge wie, ɔ le atin ɔ di su wie; ɔ le atin ɔ wuka be yo be nyrun kɔlɛ ninge mun; afin sɛ mblusuɛ fite su, ɔ le atin di wie.
         </ListItem>
            <ListItem>
            Sran kun, sɛ ɔ di i be nyrun, kɔlɛ aguin juman, ɔ klɛi fluwa, ɔ di aguin nan sɛ i duman fite su ɔ, i mblnsnɛ fite suɔ ɔ ti iliɛ.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">28. Tikle 28</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Sran kwla ɔ le atin ɔ kunde kɛ sran mun b'afiɛ, mɛn mun b'afiɛn ɔ ye flɔlɔɔ, i sɔ nan sran-mmla ɔ nin fɔundi nga be kan be ndɛ Ndɛ nga nun, b'a su mma.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">29. Tikle 29</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Sran kun, ɔ fata kɛ ɔ yo like mɛn i nvle mɔ i nun yɛ i bɔbɔ ɔ kwla di i fɔundi, ɔ kwla bo nyan.
         </ListItem>
            <ListItem>
            Sran i sran-mmla nin i fɔundi su dilɛ ɔ le'a awieliɛ uflɛ, san awieliɛ nga i nve su mmla mun be sieli kɛ ɔ fata'a kɛ sran kun i sran-mmla nin i fɔundi su dilɛ ɔ tannin sran uflɛ mun be liɛ atin. I sɔ nin yɛ man be kwla fa atin ndɛnman kpa su, aunjɔɛ ɔ ba nvle nga mɔ i su kpɛn sielɛ ɔ wo sran kwlakwla sa nun nun.
         </ListItem>
            <ListItem>
            Sran-mmla nin fɔundi ng'ɔlɛ be kwla'a fa-man be yo'a like fi mɔ ɔ kaci i sin si Mɛn mun be Bo Yekun Anyia be atin liɛ'n
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">30. Tikle 30</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Awa kun, sran akpasua, sran kun, be kwla'a be jran-man dɛ nga i nun tre ba kun su be se'a kɛ be le atin mɔ be di juman wie, be yo ninge wie mɔ ɔ ti sran-mmla nin fɔndi nga be wo yɛ be sakiwa.</p>
      </div>
   </div>
</section>