<script>
            
  import { OrderedList, ListItem, ImageLoader, InlineLoading } from "carbon-components-svelte";
            
  </script><h1 class="bx--heading bx--productive-heading--06">Universal Declaration of Human Rights</h1>
<p class="paragraph">
      © The Office of the High Commissioner for Human Rights 1996–2009
    </p>
<section class="bx--feature">
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--05">Preamble</h2>
      <div class="sectionbody">
         <div class="imageblock left">
            <div class="content"><img src="/images/udhr.svg" alt="Universal Declaration of Human Rights logo"></div>
         </div>
      </div>
      <p class="paragraph bx--text-paragraph">Whereas recognition of the inherent dignity and of the equal and inalienable rights of all members of the human family is the foundation of freedom, justice and peace in the world,</p>
      <p class="paragraph bx--text-paragraph">Whereas disregard and contempt for human rights have resulted in barbarous acts which have outraged the conscience of mankind, and the advent of a world in which human beings shall enjoy freedom of speech and belief and freedom from fear and want has been proclaimed as the highest aspiration of the common people,</p>
      <p class="paragraph bx--text-paragraph">Whereas it is essential, if man is not to be compelled to have recourse, as a last resort, to rebellion against tyranny and oppression, that human rights should be protected by the rule of law,</p>
      <p class="paragraph bx--text-paragraph">Whereas it is essential to promote the development of friendly relations between nations,</p>
      <p class="paragraph bx--text-paragraph">Whereas the peoples of the United Nations have in the Charter reaffirmed their faith in fundamental human rights, in the dignity and worth of the human person and in the equal rights of men and women and have determined to promote social progress and better standards of life in larger freedom,</p>
      <p class="paragraph bx--text-paragraph">Whereas Member States have pledged themselves to achieve, in co‐operation with the United Nations, the promotion of universal respect for and observance of human rights and fundamental freedoms,</p>
      <p class="paragraph bx--text-paragraph">Whereas a common understanding of these rights and freedoms is of the greatest importance for the full realization of this pledge,</p>
      <p class="paragraph bx--text-paragraph">Now, therefore,</p>
      <p class="paragraph bx--text-paragraph">The General Assembly</p>
      <p class="paragraph bx--text-paragraph">Proclaims this Universal Declaration of Human Rights as a common standard of achievement for all peoples and all nations, to the end that every individual and every organ of society, keeping this Declaration constantly in mind, shall strive by teaching and education to promote respect for these rights and freedoms and by progressive measures, national and international, to secure their universal and effective recognition and observance, both among the peoples of Member States themselves and among the peoples of territories under their jurisdiction.</p>
   </div>
</section>
<section class="">
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">1. Article 1</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">All human beings are born free and equal in dignity and rights. They are endowed with reason and conscience and should act towards one another in a spirit of brotherhood.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">2. Article 2</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Everyone is entitled to all the rights and freedoms set forth in this Declaration, without distinction of any kind, such as race, colour, sex, language, religion, political or other opinion, national or social origin, property, birth or other status.</p>
         <p class="paragraph bx--text-paragraph">Furthermore, no distinction shall be made on the basis of the political, jurisdictional or international status of the country or territory to which a person belongs, whether it be independent, trust, non‐self‐governing or under any other limitation of sovereignty.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">3. Article 3</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Everyone has the right to life, liberty and the security of person.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">4. Article 4</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">No one shall be held in slavery or servitude; slavery and the slave trade shall be prohibited in all their forms.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">5. Article 5</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">No one shall be subjected to torture or to cruel, inhuman or degrading treatment or punishment.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">6. Article 6</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Everyone has the right to recognition everywhere as a person before the law.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">7. Article 7</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">All are equal before the law and are entitled without any discrimination to equal protection of the law. All are entitled to equal protection against any discrimination in violation of this Declaration and against any incitement to such discrimination.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">8. Article 8</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Everyone has the right to an effective remedy by the competent national tribunals for acts violating the fundamental rights granted him by the constitution or by law.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">9. Article 9</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">No one shall be subjected to arbitrary arrest, detention or exile.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">10. Article 10</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Everyone is entitled in full equality to a fair and public hearing by an independent and impartial tribunal, in the determination of his rights and obligations and of any criminal charge against him.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">11. Article 11</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Everyone charged with a penal offence has the right to be presumed innocent until proved guilty according to law in a public trial at which he has had all the guarantees necessary for his defence.
         </ListItem>
            <ListItem>
            No one shall be held guilty of any penal offence on account of any act or omission which did not constitute a penal offence, under national or international law, at the time when it was committed. Nor shall a heavier penalty be imposed than the one that was applicable at the time the penal offence was committed.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">12. Article 12</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">No one shall be subjected to arbitrary interference with his privacy, family, home or correspondence, nor to attacks upon his honour and reputation. Everyone has the right to the protection of the law against such interference or attacks.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">13. Article 13</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Everyone has the right to freedom of movement and residence within the borders of each State.
         </ListItem>
            <ListItem>
            Everyone has the right to leave any country, including his own, and to return to his country.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">14. Article 14</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Everyone has the right to seek and to enjoy in other countries asylum from persecution.
         </ListItem>
            <ListItem>
            This right may not be invoked in the case of prosecutions genuinely arising from non‐political crimes or from acts contrary to the purposes and principles of the United Nations.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">15. Article 15</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Everyone has the right to a nationality.
         </ListItem>
            <ListItem>
            No one shall be arbitrarily deprived of his nationality nor denied the right to change his nationality.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">16. Article 16</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Men and women of full age, without any limitation due to race, nationality or religion, have the right to marry and to found a family. They are entitled to equal rights as to marriage, during marriage and at its dissolution.
         </ListItem>
            <ListItem>
            Marriage shall be entered into only with the free and full consent of the intending spouses.
         </ListItem>
            <ListItem>
            The family is the natural and fundamental group unit of society and is entitled to protection by society and the State.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">17. Article 17</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Everyone has the right to own property alone as well as in association with others.
         </ListItem>
            <ListItem>
            No one shall be arbitrarily deprived of his property.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">18. Article 18</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Everyone has the right to freedom of thought, conscience and religion; this right includes freedom to change his religion or belief, and freedom, either alone or in community with others and in public or private, to manifest his religion or belief in teaching, practice, worship and observance.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">19. Article 19</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Everyone has the right to freedom of opinion and expression; this right includes freedom to hold opinions without interference and to seek, receive and impart information and ideas through any media and regardless of frontiers.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">20. Article 20</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Everyone has the right to freedom of peaceful assembly and association.
         </ListItem>
            <ListItem>
            No one may be compelled to belong to an association.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">21. Article 21</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Everyone has the right to take part in the government of his country, directly or through freely chosen representatives.
         </ListItem>
            <ListItem>
            Everyone has the right of equal access to public service in his country.
         </ListItem>
            <ListItem>
            The will of the people shall be the basis of the authority of government; this will shall be expressed in periodic and genuine elections which shall be by universal and equal suffrage and shall be held by secret vote or by equivalent free voting procedures.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">22. Article 22</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Everyone, as a member of society, has the right to social security and is entitled to realization, through national effort and international co‐operation and in accordance with the organization and resources of each State, of the economic, social and cultural rights indispensable for his dignity and the free development of his personality.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">23. Article 23</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Everyone has the right to work, to free choice of employment, to just and favourable conditions of work and to protection against unemployment.
         </ListItem>
            <ListItem>
            Everyone, without any discrimination, has the right to equal pay for equal work.
         </ListItem>
            <ListItem>
            Everyone who works has the right to just and favourable remuneration ensuring for himself and his family an existence worthy of human dignity, and supplemented, if necessary, by other means of social protection.
         </ListItem>
            <ListItem>
            Everyone has the right to form and to join trade unions for the protection of his interests.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">24. Article 24</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Everyone has the right to rest and leisure, including reasonable limitation of working hours and periodic holidays with pay.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">25. Article 25</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Everyone has the right to a standard of living adequate for the health and well‐being of himself and of his family, including food, clothing, housing and medical care and necessary social services, and the right to security in the event of unemployment, sickness, disability, widowhood, old age or other lack of livelihood in circumstances beyond his control.
         </ListItem>
            <ListItem>
            Motherhood and childhood are entitled to special care and assistance. All children, whether born in or out of wedlock, shall enjoy the same social protection.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">26. Article 26</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Everyone has the right to education. Education shall be free, at least in the elementary and fundamental stages. Elementary education shall be compulsory. Technical and professional education shall be made generally available and higher education shall be equally accessible to all on the basis of merit.
         </ListItem>
            <ListItem>
            Education shall be directed to the full development of the human personality and to the strengthening of respect for human rights and fundamental freedoms. It shall promote understanding, tolerance and friendship among all nations, racial or religious groups, and shall further the activities of the United Nations for the maintenance of peace.
         </ListItem>
            <ListItem>
            Parents have a prior right to choose the kind of education that shall be given to their children.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">27. Article 27</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Everyone has the right freely to participate in the cultural life of the community, to enjoy the arts and to share in scientific advancement and its benefits.
         </ListItem>
            <ListItem>
            Everyone has the right to the protection of the moral and material interests resulting from any scientific, literary or artistic production of which he is the author.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">28. Article 28</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Everyone is entitled to a social and international order in which the rights and freedoms set forth in this Declaration can be fully realized.</p>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">29. Article 29</h2>
      <div class="sectionbody">
         <OrderedList expressive="true">
            <ListItem>
            Everyone has duties to the community in which alone the free and full development of his personality is possible.
         </ListItem>
            <ListItem>
            In the exercise of his rights and freedoms, everyone shall be subject only to such limitations as are determined by law solely for the purpose of securing due recognition and respect for the rights and freedoms of others and of meeting the just requirements of morality, public order and the general welfare in a democratic society.
         </ListItem>
            <ListItem>
            These rights and freedoms may in no case be exercised contrary to the purposes and principles of the United Nations.
         </ListItem>
         </OrderedList>
      </div>
   </div>
   <div class="sect1">
      <h2 class="bx--heading bx--productive-heading--04">30. Article 30</h2>
      <div class="sectionbody">
         <p class="paragraph bx--text-paragraph">Nothing in this Declaration may be interpreted as implying for any State, group or person any right to engage in any activity or to perform any act aimed at the destruction of any of the rights and freedoms set forth herein.</p>
      </div>
   </div>
</section>