<script>
  import {
    DataTable,
    Toolbar,
    ToolbarContent,
    ToolbarSearch,
    Button,
    Pagination
  } from 'carbon-components-svelte';
  import Head from '$lib/components/Head.svelte';
  import { page } from '$app/stores';
  import { _, locale } from 'svelte-i18n';
  import CSLang from '$lib/components/CSLang.svelte';
  import { getAllLanguageLinks } from '$lib/js/metalang.js';
  const pathname = $page.url.pathname;
  const pageUrl = $page.url.href;
  const section = pathname.split('/')[2];
  const pageLang = pathname.split('/')[1];
  import { WordCloudChart } from '@carbon/charts-svelte';
  import '@carbon/charts-svelte/styles.css';
  import array from '/src/assets/metadata/wtlex.json';
  let rows = array.xdxf.lexicon.ar;
  rows = rows.filter((row) => row.def[0].def[0].def[1].def[0].deftext !== 'null');
  locale.set(pageLang);
  // console.log('lang: ', $_('locale'));
  let title = $_('wtlex.title');
  let author = $_('wtlex.author');
  let description = $_('wtlex.description');
  let keywords = $_('wtlex.keywords');
  let pageImage;
  let pageNoindex = false;
  let languageLinks = getAllLanguageLinks(pathname);
  let pageSize = 5;
  let location = 1;
  //let filteredRowIds = [];

  //const fontSizeRange = (chartSize, data) => {
  //  const maxWordFrequency = 98;
  //  const minFontSize = 1;
  //  const maxFontSize = 10;
  //  return { min: minFontSize, max: maxFontSize };
  //};
  //  xperiment with Simplified Functions: Try using a fixed font size range (e.g., fontSizeRange: () => ({ min: 10, max: 40 })) to see if the chart renders correctly.
  // console.log(pageLang)
  //const options = {
  //  toolbar: {
  //    enabled: true
  //  },
  //  legend: {
  //    enabled: false
  //  },
  //  data: {
  //    groupMapsTo: 'def.def.def.gr'
  //  },
  //  animations: true,
  //  color: {
  //    pairing: {
  //      numberOfVariants: 3,
  //      option: 3
  //    }
  //  },
  //  //experimental: true,
  //  wordCloud: {
  //    wordMapsTo: 'k[0].+content',
  //    fontSizeMapsTo: 'value'
  //    // fontSizeRange: fontSizeRange,
  //    // fontSizeRange: (chartSize, data) => {}
  //  },
  //  resiz frble: true,
  //  height: '400px'
  //};
  //$: console.log('filteredRowIds', filteredRowIds);
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>
<CSLang {languageLinks} {pageLang} />

<h2>
  {title}
</h2>

<DataTable
  zebra
  expandable
  nonExpandableRowIds={rows
    .filter((row) => row.def[0].def[0].def[0].def[0].ex[0].ex_orig == null)
    .map((row) => row.id)}
  sortable
  headers={[
    { key: 'k[0].+content', value: $_('French') },
    { key: 'def[0].def[0].def[1].def[0].deftext', value: $_('Bambara') },
    { key: 'def[0].def[0].def[0].def[0].deftext', value: $_('Dyula') }
  ]}
  {rows}
>
  <svelte:fragment slot="cell" let:row let:cell>
    {#if cell.key === 'def[0].def[0].def[1].def[0].deftext' && cell.value === 'null'}
      <div></div>
    {:else}
      {cell.value}
    {/if}
  </svelte:fragment>
  <svelte:fragment slot="expanded-row" let:row>
    <sm>dyu: </sm>{row.def[0].def[0].def[0].def[0].ex[0].ex_orig}
    <pre>{JSON.stringify(row.def[0].def[0].def[0].def[0].ex[0].ex_tran, null, 2)}</pre>
  </svelte:fragment>
</DataTable>

<!-- rows={Array.from({ length: 40 })} -->
<!-- <Pagination bind:pageSize bind:location totalItems={filteredRowIds.length} pageSizeInputDisabled /> -->
