<script>
  import { onMount } from 'svelte';
  import {
    SideNav,
    SideNavItems,
    SideNavMenuItem,
    SideNavMenu,
    SideNavLink
  } from 'carbon-components-svelte';
  import { locale, _ } from 'svelte-i18n';
  import DropdownLang from '$lib/components/DropdownLang.svelte';
  import { isSideNavOpen } from '$lib/js/sidenav.store.js';
  let uiLang;
  locale.subscribe((value) => {
    uiLang = value; // Assign the language symbol directly
  });
  const breakpoint = 1056;
  function SideNavLinkClick() {
    // event.preventDefault(); // Prevent default link behavior
    // const href = event.currentTarget.href; // Get the clicked link's href
    // window.location.href = href; // Force full page reload with the new URL
    if (window.innerWidth <= breakpoint) {
      // $isSideNavOpen = false;
    }
  }
  // console.log("sidenav", $isSideNavOpen);

  onMount(() => {
    const menuItem = document.getElementById('yousouf-menu');
    if (localStorage.getItem('isOwner') === 'true') {
      menuItem.style.display = 'block'; // Show the list item
    } else {
      menuItem.style.display = 'none'; // Hide the list item
    }
  });
</script>

<SideNav fixed expansionBreakpoint={breakpoint} bind:isOpen={$isSideNavOpen}>
  <SideNavItems>
    <SideNavMenuItem on:click={SideNavLinkClick} href="/{uiLang}/docs/udhr/" text="UDHR" />
    <SideNavMenuItem
      on:click={SideNavLinkClick}
      href="/{uiLang}/docs/udhr-morph/"
      text="Morphologie de la UDHR"
    />
  </SideNavItems>
  <DropdownLang />
</SideNav>
