<script>
  import { Dropdown } from 'carbon-components-svelte';
  import { goto } from '$app/navigation';
  import { locale } from 'svelte-i18n';
  import { page } from '$app/stores';
  import { isSideNavOpen } from '$lib/js/sidenav.store.js';
  const breakpoint = 1056;

  const items = [
    { id: '0', locale: 'bm', text: 'Bambanakan' },
    { id: '1', locale: 'bci', text: 'Wawle' },
    { id: '2', locale: 'dyu', text: 'Julakan' },
    { id: '3', locale: 'en', text: 'English' },
    { id: '4', locale: 'fr', text: 'Français' }
  ];

  let selectedId;
  let currentLocale;
  let updatedItems = {};

  $: {
    currentLocale = $page.url.pathname.split('/')[1];
    locale.set(currentLocale);

    const selectedItem = items.find((item) => item.locale === currentLocale);
    selectedId = selectedItem ? selectedItem.id : undefined;

    updatedItems = items.map((item) => ({
      ...item,
      disabled: item.locale === currentLocale
    }));
  }

  function handleClick(event) {
    const { selectedItem } = event.detail;
    if (selectedItem && !selectedItem.disabled) {
      const link = `/${selectedItem.locale}/docs`;
      // console.log('Link: ', link);
      locale.set(selectedItem.locale);
      // if (window.innerWidth <= breakpoint) {
      //   $isSideNavOpen = false;
      // }
      goto(link);
    }
  }
</script>

<Dropdown direction="top" {selectedId} on:select={handleClick} items={updatedItems} inline />

<!-- titleText="titleText" could maybe be used for lang symbol but appears above the menu... -->

<style>
  /* Dropdown itself */
  :global(.bx--dropdown) {
    background-color: var(--gray-1000) !important;
    color: var(--gray-300) !important;
  }

  /* Dropdown expanded menu */
  :global(.bx--list-box__menu) {
    background-color: var(--gray-1000) !important;
    color: var(--gray-300) !important;
  }

  :global(.bx--list-box__label) {
    background-color: var(--gray-1000) !important;
    color: var(--gray-300) !important;
  }

  :global(.bx--list-box__menu-icon > svg) {
    fill: var(--gray-300) !important;
  }

  /* Dropdown menu items */
  :global(.bx--list-box__menu-item) {
    color: var(--gray-300) !important;
  }

  /* seems to be text in div inside dropdown items */
  :global(.bx--list-box__menu-item__option) {
    color: var(--gray-300) !important;
  }

  :global(.bx--list-box__menu-item--highlighted),
  :global(.bx--list-box__menu-item:hover) {
    background-color: var(--gray-900) !important;
  }

  :global(.bx--list-box__menu-item[disabled]),
  :global(.bx--list-box__menu-item[disabled] *),
  :global(.bx--list-box__menu-item[disabled] .bx--list-box__menu-item__option),
  :global(.bx--list-box__menu-item[disabled]:hover) {
    background-color: var(--gray-1000) !important;
    color: var(--gray-700) !important;
    display: none;
  }
</style>
