<script>
  import { Column, Link } from 'carbon-components-svelte';
  import LogoLinkedin from 'carbon-icons-svelte/lib/LogoLinkedin.svelte';
  import LogoGitlab from 'carbon-icons-svelte/lib/LogoGitlab.svelte';
  import LogoGithub from 'carbon-icons-svelte/lib/LogoGithub.svelte';
  import LogoTwitter from 'carbon-icons-svelte/lib/LogoTwitter.svelte';
  import SiteLang from '$lib/components/SiteLang.svelte';
</script>

<Column
  id="social"
  lg={{ span: 2, offset: 4 }}
  md={{ span: 1, offset: 2 }}
  sm={{ span: 16 }}
  style="display: flex; flex-flow: row; justify-content: center;"
>
  <Link id="github" name="github" href="https://www.github.com/boydkelly/?hl=fr/" icon={LogoGithub}
  ></Link>
  <Link id="gitlab" name="gitlab" href="https://www.gitlab.com/boydkelly/" icon={LogoGitlab}></Link>
  <Link
    id="linkedin"
    name="linkedin"
    href="https://www.linkedin.com/in/boydkelly/"
    icon={LogoLinkedin}
  ></Link>
  <Link id="twitter" name="twitter" href="https://twitter.com/boydkelly/" icon={LogoTwitter}></Link>
</Column>

<Column
  id="message"
  lg={{ span: 8 }}
  md={{ span: 6, offset: 0 }}
  sm={{ span: 2, offset: 1 }}
  style="display: flex; flex-flow: column; align-items: center; justify-content: center"
>
  <div id="copyright">Copyright © 2024 Boyd Kelly</div>
  <div id="attributions" style="text-align: center;">
    This site built by <a href="https://coastsystems.net/">Boyd Kelly</a> with Svelte, Asciidoc, Carbon
    design, and lots of Neovim.
  </div>
</Column>

<Column id="lang" class="aside right" lg={{ span: 1 }} md={{ span: 1 }} sm={{ span: 1 }}>
  <SiteLang />
</Column>

<style lang="postcss">
</style>
