<script>
  import { baseUrl } from '$lib/js/baseurl.store';
  import { onMount } from 'svelte';
  import { get } from 'svelte/store';
  export let title;
  export let author;
  export let description;
  export let keywords;
  export let pageNoindex;
  export let pageImage;
  export let pageUrl;
  export let pageLang;
  export let section;
  export let subsection;
  let xImage;
  let ogImage;
  if (pageImage) {
    const imageName = pageImage.split('.').slice(0, -1).join('.');
    xImage = `${imageName}.x.jpg`;
    ogImage = `${imageName}.og.jpg`;
  }

  // Retrieve the base URL from the store
  const resolvedBaseUrl = get(baseUrl);

  // Utility function to capitalize names
  function capitalize(name) {
    return name ? name.charAt(0).toUpperCase() + name.slice(1) : '';
  }
  // Mapping for subsection descriptions
  const subsectionDescriptions = {
    baoule: 'Leçons de baoulé',
    contes: 'Contes dioula',
    youssouf: 'leçons de dioula',
    soumahoro: 'leçons de dioula'
  };

  let jsonLd = {
    '@context': 'https://schema.org',
    '@type': 'WebPage',
    name: title, // Page title for SEO
    description: description,
    url: pageUrl,
    inLanguage: [pageLang],

    breadcrumb: {
      '@type': 'BreadcrumbList',
      itemListElement: [
        { '@type': 'ListItem', position: 1, name: 'Home', item: resolvedBaseUrl },
        {
          '@type': 'ListItem',
          position: 2,
          name: capitalize(section),
          item: `${resolvedBaseUrl}/${pageLang}/${section}`
        }
      ]
    }
  };

  // Add subsection if it exists
  $: {
    jsonLd.name = title;
    jsonLd.description = description;
    jsonLd.url = pageUrl;
    jsonLd.inLanguage = [pageLang];

    if (subsection) {
      const sectionPath = pageLang === 'fr' && section === 'docs' ? `${section}/cours` : section;
      const subsectionDisplayName = capitalize(subsection);
      const subsectionSeoName = subsectionDescriptions[subsection] || subsectionDisplayName;

      jsonLd.breadcrumb.itemListElement.push({
        '@type': 'ListItem',
        position: jsonLd.breadcrumb.itemListElement.length + 1,
        name: subsectionDisplayName, // Keep breadcrumb name concise
        item: `${resolvedBaseUrl}/${pageLang}/${sectionPath}/${subsection}`
      });

      jsonLd.name = subsectionSeoName; // Use more descriptive name for SEO
    }
  }

  onMount(() => {
    const script = document.createElement('script');
    script.type = 'application/ld+json';
    script.innerHTML = JSON.stringify(jsonLd);
    document.head.appendChild(script);
  });
</script>

<svelte:head>
  {#if pageNoindex === true || pageNoindex === 'true'}
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="noindex" />
    <meta name="bingbot" content="noindex" />
  {:else}
    <meta name="robots" content="index, follow" />
    <meta
      name="googlebot"
      content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
    />
    <meta
      name="bingbot"
      content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
    />
  {/if}
  <title>{title}</title>
  <meta name="description" content={description} />
  <meta name="keywords" content="${keywords}" />
  <meta name="author" content={author} />
  <link rel="canonical" href={pageUrl} />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@boydkelly" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:url" content={pageUrl} />
  <meta name="twitter:image" content="{$baseUrl}/images/social/{xImage}" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={pageUrl} />
  <meta property="og:image" content="{$baseUrl}/images/social/{ogImage}" />
  <meta property="og:locale" content={pageLang} />
</svelte:head>
