<script>
  import { onMount } from 'svelte';

  let languages = ['en', 'fr', 'dyu'];
  let currentPage;

  // Update the currentPage variable when the route changes
  $: {
    currentPage = $page.path;
  }

  // Function to check if the route with the given language is valid
  function isRouteValid(language) {
    const route = `/${language}${currentPage}`;
    return $layout.routes.some(({ pattern }) => pattern.test(route));
  }

  // Function to generate links for valid routes in different languages
  function getLanguageLinks(currentPath) {
    return languages
      .filter(language => language !== $page.params.lang && isRouteValid(language))
      .map(language => `/${language}${currentPath}`);
  }

  onMount(() => {
    console.log('Component mounted');
  });
</script>

<style>
  /* Add your styling here */
</style>

<div>
  {#each getLanguageLinks(currentPage) as link}
    <a href={link} target="_blank">{link}</a>
  {/each}
</div>

