<script>
  import { OverflowMenu, OverflowMenuItem } from 'carbon-components-svelte';
  import { locales } from 'svelte-i18n';
  import { Wikis } from 'carbon-icons-svelte';
</script>

<OverflowMenu size="sm" flipped direction="top" icon={Wikis}>
  {#each $locales as locale}
    <OverflowMenuItem href="/{locale}/" text={locale} />
  {/each}
</OverflowMenu>
