<!-- Ui.svelte -->
<script>
  import 'carbon-components-svelte/css/all.css';
  import {
    Header,
    HeaderNav,
    HeaderNavItem,
    HeaderUtilities,
    HeaderGlobalAction,
    SkipToContent
  } from 'carbon-components-svelte';
  import ThemeSwitch from '$lib/components/ThemeSwitch.svelte';
  import { isSideNavOpen } from '$lib/js/sidenav.store.js';
  import { _, locale } from 'svelte-i18n';
  import { goto } from '$app/navigation';
  import UpToTop from 'carbon-icons-svelte/lib/UpToTop.svelte';
  // isSideNavOpen.set(true);
  // console.log('sidenav UI', $isSideNavOpen);
</script>

<Header platformName="Coast Systems" bind:isSideNavOpen={$isSideNavOpen}>
  <svelte:fragment slot="skip-to-content">
    <SkipToContent />
  </svelte:fragment>

  <HeaderNav>
    <HeaderNavItem href="/{$locale}/blog/" text={$_('Blog')} />
    <HeaderNavItem href="/{$locale}/docs/" text={$_('Study')} />
  </HeaderNav>

  <HeaderUtilities>
    <HeaderNav id="about">
      <HeaderNavItem href="/{$locale}/about/" text={$_('About')} />
    </HeaderNav>

    <HeaderGlobalAction
      iconDescription={$_('Back to top')}
      kind="primary"
      icon={UpToTop}
      on:click={() => goto('#top')}
    />
    <ThemeSwitch />
  </HeaderUtilities>
</Header>
