<div id="viz"></div>

<style lang="postcss">
  #viz {
    border: none;
    padding-left: 0rem;
    height: calc(100dvh - 25rem);
  }

  @media screen and (min-width: 1024px) {
    #viz {
      padding-left: 5rem;
      min-height: calc(100dvh - 20rem);
      max-height: calc(100dvh - 20rem);
    }
  }
</style>
