<script>
  import { DataTable } from 'carbon-components-svelte';
  import CSLang from '$lib/components/CSLang.svelte';
  import Head from '$lib/components/Head.svelte';
  import { page } from '$app/stores';
  import { _, locale } from 'svelte-i18n';

  import PageImage from '$lib/components/PageImage.svelte';
  import { getAllLanguageLinks } from '$lib/js/metalang.js';
  const pathname = $page.url.pathname;
  const pageUrl = $page.url.href;
  const section = pathname.split('/')[2];
  const pageLang = pathname.split('/')[1];

  // Reactive page URL
  import plugins from '/src/assets/metadata/plugins.json';
  const rows = plugins;
  let title = $_('plugins.title');
  let author = $_('plugins.author');
  let description = $_('plugins.description');
  let keywords = $_('plugins.keywords');
  let tags = $_('plugins.tags');
  let pageImage = $_('plugins.page-image');
  let pageNoindex = false;

  //console.log(plugins);
  //console.log(rows);
  let languageLinks = getAllLanguageLinks(pathname);
  locale.set(pageLang);
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>
<CSLang {languageLinks} {pageLang} />

<DataTable zebra headers={[{ key: 'name', value: $_('plugin') }]} {rows}>
  <h2 slot="title">{title}</h2>
  <span slot="description" style="font-size: 1rem">
    {description}
  </span>
</DataTable>
